.nav-link:hover {
    background-color: deepskyblue;

}
.nav-link {
    width: 87px;
    color: #E1E3E6 !important;
    height: 100%;
    transition: background-color 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (max-width: 1107px) {
    .navbar-nav {
        display: none;
    }

}

@media (max-width: 1213px) {
    .btn-logout {
        display: none;
    }

}
