.nav-link:hover > .text-secondary {
    color: #E8F0FE !important;
}

.text-secondary {
    transition: color 0.3s ease;
}

.nav-link {
    width: 80px;
    color: #E1E3E6 !important;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar-items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

ul {
    margin: 0;
    padding: 0;
}

@media (max-width: 1107px) {
    .navbar-nav {
        display: none;
    }

}

@media (max-width: 1213px) {
    .btn-logout {
        display: none;
    }

}

/*TODO: media 991px create new nav in bottom of pages for mobiles*/
