<div *ngIf="!isLogged; else xd">

  <div class="container w-50 justify-content-center mb-3">
    <div class="card">
      <div class="card-header">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/login">Log In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/register">Register</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <form class="form-group mx-auto w-75" #f="ngForm" (ngSubmit)="onLogin()" novalidate>
          <div class="form-group my-3">
            <label>Username</label>
            <input type="text" class="form-control" name="username" placeholder="Username" [(ngModel)]="username">
          </div>
          <div class="form-group my-3">
            <label>Password</label>
            <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="password">
          </div>
          <div class="form-group text-center">
            <button [disabled]="!f.valid" class="btn btn-outline-success btn-block btn-lg">Submit</button>
          </div>
        </form>
        <div *ngIf="f.submitted && isLoginFail" class="alert alert-danger mt-3">{{errorMessage}}</div>

      </div>
    </div>
  </div>

  <div class="col-md-4 mx-auto">
    <div class="card">
      <h5 class="card-header  text-center">Log in via the Social Network</h5>
      <div class="card-body">
        <button (click)="signInWithVK()" class="btn btn-outline-primary btn-lg btn-block w-100">
          Log In via VK <i class="fa-brands fa-vk fa-xl"></i></button>
      </div>
    </div>
  </div>
</div>


<ng-template #xd>
  <div> You're already, autheroized</div>
</ng-template>
