<div class="overlay" *ngIf="shownQuickShowPopup" (click)="shownQuickShowPopup = false; toggleOverflowBody()" style="z-index: 300"></div>
<div class="overlay" *ngIf="shownVerifiedPopup" (click)="shownVerifiedPopup = false;" style="z-index: 600"></div>
<div class="popup popup-product-show" *ngIf="shownQuickShowPopup"
     style="z-index: 301; opacity: 1; display: block; left: 20%; top: 10px; position: fixed;">
    <a (click)="shownQuickShowPopup = false; toggleOverflowBody()" class="popup__close"></a>
    <div class="content">
        <div class="product">
            <div class="product__photo-wrap">
                <lib-ngx-image-zoom class="product__photo"
                                    [thumbImage]="carousel.getActive().file"
                                    [fullImage]="carousel.getActive().file"
                                    [magnification]="1"
                                    [altText]="'View 1'"
                ></lib-ngx-image-zoom>
            </div>
            <div class="product__content">
                <div class="product__header-wrap">
                    <a class="product__header" routerLink="/products/{{carousel.getActive().product.id}}/details"
                       routerLinkActive="active">
                        <span
                            class="product__brand-name">{{ carousel.getActive().product.seller.username | titlecase }}</span>
                        <span> {{ carousel.getActive().product.productName | titlecase }}</span>
                    </a>
                    <div class="product__common-info">
                        <a class="product-review" routerLink="/products/{{carousel.getActive().product.id}}/feedback"
                           routerLinkActive="active">
                            <span class="product-review__rating address-rate-mini">
                                4.4 <!-- TODO: AVG rating -->
                            </span>
                            <span
                                class="product-review__count-review">{{ carousel.getActive().product.seller.ratingCount }}
                                ratings</span>
                        </a>
                        <p class="product-article" (click)="copyToClipboard(carousel.getActive().product.productCode)">
                            <span>Art: </span>
                            <span class="product-article__copy">{{ carousel.getActive().product.productCode }}</span>
                        </p>
                        <button class="product__verified" (click)="shownVerifiedPopup = true">
                            <span class="product__verified-icon"></span>
                            <span>Verified</span>
                        </button>
                    </div>
                </div>
                <div class="product__info-wrap">
                    <div class="price-block">
                        <div class="price-block__content">
                            <div class="price-block__price-group">
                                <p class="price-block__price-wrap">
                                        <span class="price-block__price">
                                            <span class="price-block__wallet-price">
                                                {{ carousel.getActive().product.price|currency }}
                                            </span>
                                        </span>
                                    <del class="price-block__old-price">
                                        <span>$2,500.00</span>
                                    </del>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="product__order">
                        <div class="order">
                            <button class="order__btn-buy btn-base" (click)="orderNow()">Buy now</button>
                            <button class="btn-main" (click)="addToCart(productInPopup.product)">
                                <span class="hide-mobile">Add to cart</span>
                                <span class="hide-desktop">To cart</span>
                            </button>
                        </div>
                        <button class="order-to-poned hide-mobile btn-heart-black"
                                [ngClass]="isFavourite[carousel.activeId]? 'active': ''"
                                (click)="toggleFavourite(carousel.getActive(), carousel.activeId)"
                                type="button"></button>
                    </div>
                </div>
                <a class="product__btn" style="display: block"
                   routerLink="/products/{{carousel.getActive().product.id}}/details" routerLinkActive="active">More
                    information about the product</a>
            </div>
        </div>
        <button class="popup__btn-prev" [ngClass]="carousel.isFirst()? 'disabled': ''" (click)="carousel.previous()"
                title="Previous article" type="button" style="display: block"></button>
        <button class="popup__btn-next" [ngClass]="carousel.isLast()? 'disabled': ''" (click)="carousel.next()"
                title="Next article" type="button" style="display: block"></button>
    </div>
</div>
<div class="popup popup-verified-product" *ngIf="shownVerifiedPopup" style="z-index: 601; opacity: 1; display: block; left: 40%; top: 30%; position: fixed;">
    <a (click)="shownVerifiedPopup = false;" class="popup__close"></a>
    <div class="popup__content">
        <div class="popup__picture"></div>
        <div class="popup__main">
            <h3 class="popup__title">Verified</h3>
            <p class="popup__text">Our manager has checked this product</p>
            <button class="popup__close-button btn-base" (click)="shownVerifiedPopup = false;">Fine</button>
        </div>
    </div>
</div>
<div [ngClass]="{'grid-container': isItemsByGrid, 'list-container': !isItemsByGrid}">
    <!-- routerLinkActive="active" [routerLink]="'/update-product/' + item.product.id" *ngIf="isCanEdit"
                <ng-container *ngIf="isAdminPage">
                    *ngIf="!item.product.isVerified" (click)="verifyProduct(item.product, i)"
                    (click)="deleteProduct(item.product, i)"
                </ng-container> -->
    <ng-container *ngFor="let item of card; let i = index">
        <article class="product product-card product-card--hoverable">
            <div class="product-card__wrapper">
                <a routerLink="/products/{{item.product.id}}/details" routerLinkActive="active"
                   class="product-card__link"></a>
                <div class="product-card__top-wrap">
                    <button class="product-card__heart" [ngClass]="isFavourite[i]? 'active':''"
                            (click)="toggleFavourite(item, i)"></button>
                    <button class="product-card__verified" [ngClass]="item.product.isVerified? 'active':''"></button>
                    <div class="product-card__img-wrap">
                        <img [src]="item.file" width="516" height="688" loading="lazy" [alt]="item.product.productName">
                    </div>
                    <button class="product-card__fast-view hide-mobile" type="button"
                            (click)="shownQuickShowPopup = true; toggleOverflowBody(); carousel.setActive(i)">
                        Quick view
                    </button>
                </div>
                <div class="product-card__middle-wrap">
                    <p class="product-card__price price">
                    <span class="price__wrap">
                        <ins class="price__lower-price wallet-price">{{ item.product.price | currency }}</ins>
                        <del>400</del>
                    </span>
                    </p>
                    <h2 class="product-card__brand-wrap">
                    <span class="product-card__brand-container">
                        <span class="product-card__brand">{{ item.product.seller.username | titlecase }}</span>
                    </span>
                        <span class="product-card__name">
                        <span> / </span>
                            {{ item.product.productName | titlecase }}
                    </span>
                    </h2>
                </div>
                <div class="product-card__bottom-wrap">
                    <p class="product-card__rating-wrap">
                        <span class="address-rate-mini">4.4</span>
                        <span class="product-card__count">{{ item.product.seller.ratingCount }} ratings</span>
                    </p>
                    <p class="product-card__order-wrap">
                        <a class="product-card__add-basket btn-main" (click)="addToCart(item.product)">
                            <span class="btn-icon__white"></span>
                            <span class="btn-text">24 february</span>
                        </a>
                    </p>
                </div>
            </div>
        </article>
    </ng-container>
</div>
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong type="button" style="color: black" routerLink="/profile/cart" routerLinkActive="active"
                    class="me-auto">Cart</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            <span type="button" style="color: #0DCCF3"
                  routerLink="/products/{{productInToast?productInToast.id:'error'}}/details" routerLinkActive="active">'{{ (productInToast ? productInToast.productName : 'None')| titlecase }}
                '</span> has added to <span type="button" routerLink="/profile/cart" style="color: #c9cc24"
                                            routerLinkActive="active">cart!</span>
        </div>
    </div>
</div>

