<div *ngIf="!isLogged" style="display: flex; flex-direction: row; justify-content: space-evenly; align-items: center; min-height: 70vh">

    <div style="width: 50%">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="/login">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/register">Register</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <h2 class="card-title-login">Welcome!</h2>
                <form style="width: 75%" class="form-group mx-auto" #f="ngForm" (ngSubmit)="test()" novalidate>
                    <div class="form-group my-4">
                        <input type="text" class="form-control" name="username" placeholder="Username"
                               [(ngModel)]="username">
                    </div>
                    <div class="form-group mt-4 mb-3">
                        <input type="password" class="form-control" name="password" placeholder="Password"
                               [(ngModel)]="password">
                    </div>
                    <input class="form-check-input" type="checkbox" id="rememberMe" [(ngModel)]="rememberMe" checked>
                    <label class="form-check-label me-3" for="rememberMe">
                        &nbsp;Save user
                    </label>
                    <div class="form-group text-center mt-4">
                        <button [disabled]="!f.valid" class="btn btn-outline-success btn-block btn-lg">Sign in</button>
                    </div>

                </form>
                <div *ngIf="f.submitted && isLoginFail" class="alert alert-danger mt-3 mb-0 text-center">{{errorMessage}}</div>
            </div>
        </div>
    </div>

    <div>
        <div class="card">
            <h5 class="card-header text-center">Log in via the Social Network</h5>
            <div class="card-body">
                <button (click)="signInWithVK()" class="btn btn-outline-primary btn-lg btn-block w-100">
                    Log In via VK <i class="fa-brands fa-vk fa-xl"></i></button>
            </div>
        </div>
    </div>
</div>
