<form class="d-flex form-search" role="search">
    <input class="form-control search-input" type="search" placeholder="Search" name="search" [(ngModel)]="searchWord" aria-label="Search">
    <button type="submit" style="display: none"
            routerLinkActive="active" routerLink="/products"
            [queryParams]="{search: searchWord, onlyVerified: pageDataService.isFilteredByVerified, isASC: pageDataService.isSortASC,
            page: pageDataService.pageNumber, onlyWithPhoto: pageDataService.isFilteredByWithPhoto, size: pageDataService.sizeOfPage,
            sortBy: pageDataService.sortBy}"></button>
</form>

