<form class="d-flex" role="search">
    <input class="form-control search-input" type="search" placeholder="Search" name="search" [(ngModel)]="searchWord" aria-label="Search">
    <button class="btn btn-outline-success" type="submit"
            routerLinkActive="active" routerLink="/products"
            [queryParams]="{search: searchWord, onlyVerified: pageDataService.isFilteredByVerified, isASC: pageDataService.isSortASC,
            page: pageDataService.pageNumber, onlyWithPhoto: pageDataService.isFilteredByWithPhoto, size: pageDataService.sizeOfPage,
            sortBy: pageDataService.sortBy}">Search</button>
</form>

