<div *ngIf="hasRights; else noaccess">
<div class="col-md-6 offset-md-3">
    <h3>Update Product</h3>

    <form (ngSubmit)="onSubmit()" class="m-4">
        <div class="form-group">
            <input type="text" class="form-control" name="product_name" placeholder="name"
                [(ngModel)]="product.productName">
        </div>
        <div class="form-group">
            <input type="number" class="form-control" name="price" placeholder="price"
                [(ngModel)]="product.price">
        </div>
        <div class="form-group">
            <input type="number" class="form-control" name="count" placeholder="count"
                [(ngModel)]="product.count">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="description" placeholder="description"
                [(ngModel)]="product.description">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="manufacturer" placeholder="manufacturer"
                [(ngModel)]="product.manufacturer">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="structure" placeholder="structure"
                [(ngModel)]="product.structure">
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
    
</div>
</div>
<ng-template #noaccess>
    <div> You don't have permission to update this product!</div>
</ng-template>

    
