<b routerLinkActive="active" routerLink="../details" style="font-size: 15px; padding-left: 10px" type="button">
    <i class="fa-solid fa-arrow-left fa-lg" ></i> Назад
</b>
<div id="sticky" style="background-color: white;">
    <div class="w-100 mt-2" style="display: inline-flex;">
        <div class="align-items-center w-75" style="display: inline-flex;">
            <img
                [src]="product.file"
                width="1" height="1" alt="photo image" class="rounded-2 mx-3"
                style="width: 60px; height: 75px; object-fit: cover; border: solid 1px black; padding: 0"/>
            <div>
                <h6>{{product.product.seller.username | titlecase}}
                    / {{product.product.productName | titlecase}}</h6>
                <i class="fa-solid fa-star fa-xs" style="color: #c9cc24;"></i> 4.5 &nbsp;
                <span class="text-secondary"><a class="ratings ratings-router-link" routerLink="../feedback"
                                                routerLinkActive="active"
                                                type="button">10 ratings</a>
            </span>
            </div>
            <div class="mx-auto" style="font-size: 18px">
                <div class="vertical_line">
                    <b>{{product.product.price | currency}}</b> <br>
                    <span class="discount">$5535623.0</span>
                </div>
            </div>
        </div>
        <div class="w-25 my-3" style="text-align: center">
            <button class="btn btn-outline-dark w-40 h-100 me-2" data-bs-toggle="modal" data-bs-target="#buyNowModal">
                Buy now
            </button>
            <button (click)="addToCart()" class="btn btn-dark w-40 h-100 me-2">Add to cart</button>
            <div class="toast-container position-fixed bottom-0 end-0 p-3">
                <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <strong class="me-auto">Cart</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        '{{product.product.productName}}' has added to cart!
                    </div>
                </div>
            </div>
            <a type="button" style="color: black" (click)="addOrRemoveFavourite()"
               [ngClass]="isFavourite? 'fa-solid' : 'fa-regular'" class="fa-regular fa-heart fa-xl"></a>
        </div>
    </div>
</div>
<div class="w-75">
    <h4>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" style="color: black !important;">Questions
                    <sup>{{questions? questions.length : 0}}</sup>
                </a>
            </li>
            <li class="nav-item ms-auto mt-auto">
                <button class="nav-link ratings" data-bs-toggle="modal" data-bs-target="#rulesModal"
                        style="color: rgb(108,117,125) !important; font-size: 17px; padding: 0">Publication Rules
                </button>
            </li>
        </ul>
    </h4>
    <textarea placeholder="Ask a question about product" [(ngModel)]="messageOfQuestion"
              class="form-control mb-2 down"
              (click)="isWriteQuestion=true"></textarea>
    <div class="appearing" [ngClass]="isWriteQuestion?'appearing-active':''">
        <button class="btn btn-outline-dark me-2" (click)="saveQuestion()">Ask a question</button>
        <button class="btn btn-outline-danger" (click)="isWriteQuestion=false">Close</button>
    </div>
    <div *ngFor="let question of questions" class="my-4">
        <div style="display: inline-flex">
            <img class="rounded-4 me-2" alt="image for review" style="width: 50px; height: 50px; object-fit: cover;"
                 [ngSrc]="'https://eliaslealblog.files.wordpress.com/2014/03/user-200.png'" width="1" height="1"/>
            <div>
                <b>{{question.author.username | titlecase}}</b> <br>
                <span class="text-secondary"
                      style="font-size: 16px">{{question.time | date: 'dd MMM YYYY, HH:mm'}}</span>
            </div>
        </div>
        <div style="padding-left: 58px; padding-top: 8px;">
            {{question.message}}
            <div class="vertical_line my-3">
                <b>✓ Brand Representative</b> <br>
                <p class="mt-2">
                    {{question.answer}}
                </p>
            </div>
        </div>
    </div>
</div>

<!-- For modal with rules -->
<div class="modal fade " id="rulesModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="min-width: 720px">
        <div class="modal-content">
            <div class="modal-header mt-2 mx-3">
                <h1 class="modal-title fs-5"><b>Rules for processing reviews and questions</b></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body mx-4 mb-3" style="font-size: 17px">
                <p class="text-secondary">Reviews and questions should contain information only about the
                    product. </p>
                <p class="text-secondary">Reviews can be left only for the goods ordered and received by the buyer.
                    The buyer can leave no more than one review for one product.
                    You can attach up to 5 photos to the reviews. The product in the photo should be clearly
                    visible. </p>

                <p>The following reviews and questions are not allowed for publication: </p>
                <ul class="dash">
                    <li>Indicating the purchase of this product in other stores</li>
                    <li>Containing any contact information (phone numbers, addresses, email, links to third-party
                        sites)
                    </li>
                    <li>With profanity that offends the dignity of other customers or the store</li>
                    <li>With an abundance of uppercase characters (capital letters)</li>
                </ul>
                Questions are published only after they have been answered.

                We reserve the right to edit or not publish a review and a question that does not comply with the
                established
                rules!
            </div>
        </div>
    </div>
</div>
<!-- For modal with buy product now -->
<div class="modal fade" id="buyNowModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="min-width: 300px">
        <div class="modal-content">
            <div class="modal-header mt-2 mx-3">
                <h1 class="modal-title fs-5"><b>Order: {{product.product.seller.username | titlecase}}
                    /{{product.product.productName | titlecase}}</b></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body mx-4" style="font-size: 19px">
                <span *ngIf="!isPaid" style="font-size: 12px; position: absolute" class="text-secondary">We will write off the payment upon receipt </span>
                <br>
                <input class="form-check-input" type="checkbox" (change)="isPaid = !isPaid"
                       id="flexCheck">
                <label class="form-check-label" for="flexCheck">
                    &nbsp;Pay now
                </label>
                <div style="font-size: 18px" class="mt-2">
                    <i type="button" (click)="removeNumberOfProduct()"
                       class="fa-solid fa-square-minus fa-xl"></i>
                    {{countOfProductInOrder}}
                    <i type="button" (click)="addNumberOfProduct()"
                       class="fa-solid fa-square-plus fa-xl"></i>
                </div>
                <div class="name_card_main mt-2">
                    Total: {{totalPrice}}
                </div>
                <div class="mt-3 justify-content-center" style="display: flex">
                    <button class="btn btn-outline-dark w-75" data-bs-dismiss="modal" (click)="orderNow()">Buy now
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

