<div class="card card_with_shadow">
    <div class="card-body">
        <div style="display: flex" class="my-2 mx-3">
            <i class="fa-solid fa-location-dot fa-2xl mt-4 me-3"></i> Simferopol, Zalesskaya Street 81 <br>
            The point of delivery. Daily: 10:00 - 21:00
            <div class="ms-auto my-auto">
                <b class="me-5">12 522</b>
                 Receiving code
            </div>
        </div>
        <app-product-list [orders]="orders" [isOrders]="true"></app-product-list>
    </div>
</div>
