<div class="card card_with_shadow mb-4">
    <div class="card-body">
        <div style="display: flex" class="my-3 mx-3">
            <i class="fa-solid fa-location-dot fa-2xl mt-4 me-3"></i> Simferopol, Zalesskaya Street 81 <br>
            The point of delivery. Daily: 10:00 - 21:00
            <div class="ms-auto my-auto">
                <b class="me-2" style="background-color: #0DCCF3; border-radius: 20px 20px 20px 20px; padding: 4px 12px">12 522</b>
                <span class="text-secondary">Receiving code</span>
            </div>
        </div>
        <app-product-list [orders]="orders" [isOrders]="true"></app-product-list>
        <b class="ms-3" style="font-size: 20px">Total: <span style="border-bottom: 2px dotted rgb(108, 117, 125); color: #212529;">{{totalSum | currency}}</span></b> <br>
        <div class="ms-3 btn btn-outline-dark mt-3" style="font-size: 20px">To be paid: {{totalSum | currency}}</div>
    </div>
</div>
