<div class="card card_with_shadow mb-4 main-container">
    <ng-container *ngIf="orders.length > 0; else noOrders">
        <div
            class="delivery-panel">
            <i class="fa-solid fa-location-dot fa-2xl mt-4 me-3"></i>
            <p>
                <span>Simferopol, Zalesskaya Street 81</span> <br>
                <span>The point of delivery. Daily: 10:00 - 21:00</span>
            </p>
            <div class="ms-auto my-auto">
                <span class="receiving-code">12 522</span>
                <span class="text-secondary">Receiving code</span>
            </div>
        </div>
            <h2 class="order-title">Ready to receive</h2>
            <app-order-list [orders]="deliveredOrders" style="width: 100%; margin-top: 8px; padding-inline: 10px"></app-order-list>
            <h2 class="order-title">On the way</h2>
            <app-order-list [orders]="notDeliveredOrders" style="width: 100%; margin-top: 8px; padding-inline: 10px"></app-order-list>
        <span style="font-size: 20px; align-self: start" class="ms-3 mb-1">Total: <span
            style="border-bottom: 2px dotted rgb(108, 117, 125); color: #212529;">{{ totalSum | currency }}</span></span>
        <div class="btn btn-outline-dark w-50 mb-2" style="font-size: 20px">To be
            paid: {{ totalSum | currency }}
        </div>
    </ng-container>
    <ng-template #noOrders>
        <div class="card-body mx-auto">
            <div class="name_card my-3">The orders are still empty</div>
            <div class="text-secondary my-3">Take a look at the main page to select products <br> or find what you need
                in the search
            </div>
            <a type="button" routerLink="/products" routerLinkActive="active"
               class="btn btn-outline-dark w-75 my-3 ms-4">Go to the main page</a>
        </div>
    </ng-template>
</div>
