<div id="sticky" style="background-color: white;">
    <div class="w-100 mt-2" style="display: inline-flex;">
        <div class="align-items-center w-75" style="display: inline-flex;">
            <img
                [src]="product.file"
                width="1" height="1" alt="photo image" class="rounded-2 me-3"
                style="width: 60px; height: 75px; object-fit: cover; border: solid 1px black; padding: 0"/>
            <div>
                <h6>{{product.product.seller.username | titlecase}}
                    / {{product.product.productName | titlecase}}</h6>
                <i class="fa-solid fa-star fa-xs" style="color: #c9cc24;"></i> 4.5 &nbsp;
                <span class="text-secondary"><a class="ratings ratings-router-link" routerLink="../feedback"
                                                routerLinkActive="active"
                                                type="button">{{reviews? reviews.length:0}} ratings</a>
            </span>
            </div>
            <div class="mx-auto" style="font-size: 18px">
                <div class="vertical_line">
                    <b>{{product.product.price | currency}}</b> <br>
                    <span class="discount">$5535623.0</span>
                </div>
            </div>
        </div>
        <div class="w-25 my-3" style="text-align: center">
            <button class="btn btn-outline-dark w-40 h-100 me-2" data-bs-toggle="modal" data-bs-target="#buyNowModal">Buy now</button>
            <button (click)="addToCart()" class="btn btn-dark w-40 h-100 me-2">Add to cart</button>
            <div class="toast-container position-fixed bottom-0 end-0 p-3">
                <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <strong class="me-auto">Cart</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        '{{product.product.productName}}' has added to cart!
                    </div>
                </div>
            </div>
            <a type="button" style="color: black" (click)="addOrRemoveFavourite()" [ngClass]="isFavourite? 'fa-solid' : 'fa-regular'" class="fa-regular fa-heart fa-xl"></a>
        </div>
    </div>
</div>
<div class="w-75">
    <h4>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" style="color: black !important;">Reviews
                    <sup>{{reviews? reviews.length:0}}</sup>
                </a>
            </li>
            <li class="nav-item ms-auto mt-auto">
                <button class="nav-link ratings" data-bs-toggle="modal" data-bs-target="#rulesModal"
                        style="color: rgb(108,117,125) !important; font-size: 17px; padding: 0">Publication Rules
                </button>
            </li>
        </ul>
    </h4>
    <a type="button" class="fa-solid fa-circle-arrow-right fa-2xl" [hidden]="!isNeedRightButtonForPhotos"
       (click)="rightScrollForPhotos()"
       style="position: absolute; width: 30px; height: 30px; top: 270px; right: 375px; z-index: 100;"></a>
    <a type="button" class="fa-solid fa-circle-arrow-left fa-2xl" [hidden]="!isNeedLeftButtonForPhotos"
       (click)="leftScrollForPhotos()"
       style="position: absolute; width: 30px; height: 30px; top: 270px; left: 50px; z-index: 100;"></a>
    <div id="scrollPhotos"
         style="position: relative;width: 100%; white-space: nowrap; display: flex; overflow-x: hidden; scroll-behavior: smooth">
        <ng-container *ngFor="let review of reviews">
            <img *ngFor="let photo of review.photos" [src]="photo"
                 width="100px" height="115px" alt="photo image" class="rounded-1 me-1"
                 style="object-fit: cover; padding: 0"/>
        </ng-container>
    </div>
    <div class="mt-3" style="font-size: 17px">
        <span class="text-secondary me-4">Sort by:</span>
        <a type="button" class="me-4" (click)="sortByDate()"><span [ngClass]="isNeedSortByDate?'sort-active':'sort-not-active'">Date</span>&nbsp;
            <i *ngIf="isNeedSortByDate" class="fa-solid fa-sm" [ngClass]="sortByDateASC?'fa-arrow-up':'fa-arrow-down'" style="color: black"></i></a>
        <a type="button" class="me-4" (click)="sortByRate()"><span [ngClass]="isNeedSortByRate?'sort-active':'sort-not-active'">Rate</span>&nbsp;
            <i *ngIf="isNeedSortByRate" class="fa-solid fa-sm" [ngClass]="sortByRateASC?'fa-arrow-up':'fa-arrow-down'" style="color: black"></i></a>
        <input class="form-check-input" type="checkbox" (change)="onChangeFilterReviewsWithPhotos($event)"
               id="flexCheckChecked" >
        <label class="form-check-label" for="flexCheckChecked">
            &nbsp;With a photo <span class="text-secondary">{{countOfReviewsWithPhotos}}</span>
        </label>
    </div>
    <hr>
    <div *ngFor="let review of filteredReviews; let i=index" class="my-4">
        <div style="display: inline-flex">
            <img class="rounded-4 me-2" alt="image for review" style="width: 50px; height: 50px; object-fit: cover;"
                 [ngSrc]="'https://eliaslealblog.files.wordpress.com/2014/03/user-200.png'" width="1" height="1"/>
            <div>
                <b>{{review.author.username | titlecase}}</b> <br>
                <span class="text-secondary"
                      style="font-size: 16px">{{review.time | date: 'dd MMM YYYY, HH:mm'}}</span>
            </div>
        </div>
        <span class="my-auto float-end">
            <div style="font-size: 20px">
                <i class="fa-solid fa-star" *ngFor="let stars of [].constructor(Math.round(review.rating))"
                   style="color: #c9cc24;"></i>
                <i class="fa-solid fa-star" *ngFor="let nostars of [].constructor(Math.round(5-review.rating))"
                   style="color: #E1E3E6;"></i>
                <i type="button" data-bs-toggle="modal" data-bs-target="#reviewReportModal" class="fa-regular fa-flag ms-3"></i>
            </div>
        </span>
        <div style="padding-left: 58px; padding-top: 9px;">
            <p>{{review.message}} </p>
            <img *ngFor="let photo of review.photos" [src]="photo"
                 width="100px" height="115px" alt="photo image" class="rounded-1 me-1"
                 style="object-fit: cover; padding: 0"/>
            <div *ngIf="review.answer" class="mt-3">
                <a type="button" class="highlight-hover" (click)="isNeedOpenAnswer[i] = !isNeedOpenAnswer[i]">Brand Representative</a> <br>
                <p class="mt-2 appearing" [ngClass]="isNeedOpenAnswer[i]?'appearing-active':''">
                    {{review.answer}}
                </p>
            </div>
        </div>
    </div>
</div>


<!-- For modal with rules -->
<div class="modal fade " id="rulesModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="min-width: 720px">
        <div class="modal-content">
            <div class="modal-header mt-2 mx-3">
                <h1 class="modal-title fs-5"><b>Rules for processing reviews and questions</b></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body mx-4 mb-3" style="font-size: 17px">
                <p class="text-secondary">Reviews and questions should contain information only about the
                    product. </p>
                <p class="text-secondary">Reviews can be left only for the goods ordered and received by the buyer.
                    The buyer can leave no more than one review for one product.
                    You can attach up to 5 photos to the reviews. The product in the photo should be clearly
                    visible. </p>

                <p>The following reviews and questions are not allowed for publication: </p>
                <ul class="dash">
                    <li>Indicating the purchase of this product in other stores</li>
                    <li>Containing any contact information (phone numbers, addresses, email, links to third-party
                        sites)
                    </li>
                    <li>With profanity that offends the dignity of other customers or the store</li>
                    <li>With an abundance of uppercase characters (capital letters)</li>
                </ul>
                Questions are published only after they have been answered.

                We reserve the right to edit or not publish a review and a question that does not comply with the
                established
                rules!
            </div>
        </div>
    </div>
</div>

<!-- For modal with report review -->
<div class="modal fade" id="reviewReportModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="min-width: 300px">
        <div class="modal-content">
            <div class="modal-header mt-2 mx-3">
                <h1 class="modal-title fs-5"><b>Why do you want to complain about the review?</b></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body mx-4" style="font-size: 17px">
                <div class="form-check mb-3">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadio1">
                    <label class="form-check-label" for="flexRadio1">
                        The review contains obscene, abusive language
                    </label>
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadio2">
                    <label class="form-check-label" for="flexRadio2">
                        Registered, fictitious
                    </label>
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadio3">
                    <label class="form-check-label" for="flexRadio3">
                        Spam
                    </label>
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadio4">
                    <label class="form-check-label" for="flexRadio4">
                        Incorrect photo, video
                    </label>
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadio5">
                    <label class="form-check-label" for="flexRadio5">
                        The review is not about the product
                    </label>
                </div>
                <div class="mt-3 justify-content-center" style="display: flex">
                    <button class="btn btn-outline-dark w-75" (click)="reportReview()">Report</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- For modal with buy product now -->
<div class="modal fade" id="buyNowModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="min-width: 300px">
        <div class="modal-content">
            <div class="modal-header mt-2 mx-3">
                <h1 class="modal-title fs-5"><b>{{product.product.seller.username | titlecase}}/{{product.product.productName | titlecase}}</b></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body mx-4" style="font-size: 19px">
                <div style="font-size: 18px" class="mt-2">
                    <i type="button" (click)="countOfProductInOrder=countOfProductInOrder-1"
                       class="fa-solid fa-square-minus fa-2xl"></i>
                    &nbsp;{{countOfProductInOrder}}&nbsp;
                    <i type="button" (click)="countOfProductInOrder=countOfProductInOrder+1"
                       class="fa-solid fa-square-plus fa-2xl"></i>
                </div>
                <div class="mt-3 justify-content-center" style="display: flex">
                    <button class="btn btn-outline-dark w-75" (click)="orderNow()">Buy now</button>
                </div>
            </div>
        </div>
    </div>
</div>
