.page-container {
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .page-container {
        max-width: 556px;
    }
}

@media (min-width: 768px) {
    .page-container {
        max-width: 748px;
    }
}

@media (min-width: 992px) {
    .page-container {
        max-width: 972px;
    }
}

@media (min-width: 1200px) {
    .page-container {
        max-width: 1180px;
    }
}

@media (min-width: 1400px) {
    .page-container {
        max-width: 1380px;
    }
}
