/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap/dist/css/bootstrap";
body{
    height: 100%;
}
a{
    text-decoration-line: none;
    color: deepskyblue;
}
.footer{
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #212529;
    text-align: center;
    color: #E1E3E6;
    margin-top: auto;
    line-height: 50px;
}
.page{
    overflow: visible;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
body::-webkit-scrollbar {
    width: 12px;               /* ширина всей полосы прокрутки */
}

body::-webkit-scrollbar-track {
    background: #212529;        /* цвет зоны отслеживания */
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(81, 81, 103);    /* цвет бегунка */
    border-radius: 1px;       /* округлось бегунка */
    border: 3px solid #212529;  /* отступ вокруг бегунка */
}
body::-webkit-scrollbar-thumb:hover{
    background-color: rgb(115, 115, 145);
}

.name_card{
  color: black;
  font-size: 25px;
  font-weight: bold;
}
.name_card_main{
  color: black;
  font-size: 25px;
  font-weight: bold;
  display: inline-block;

}
.card_body_value{
  color: black;
}
.card_with_shadow{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: box-shadow 0.4s ease-in-out;
}
.card_with_shadow:hover{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: box-shadow 0.4s ease-in-out;
}

