<div class="product-page">
    <div class="product-page__top-wrap">
        <div class="product-page__breadcrumbs breadcrumbs">
            <button class="breadcrumbs__back" type="button" routerLink="/.." routerLinkActive="active">
                To Previous Page
            </button>
            <div class="breadcrumbs__container">
                <ul class="breadcrumbs__list">
                    <li class="breadcrumbs__item">
                        <a class="breadcrumbs__link" routerLinkActive="active" routerLink="/products">
                            <span>Main</span>
                        </a>
                    </li>
                    <li class="breadcrumbs__item">
                        <a class="breadcrumbs__link" routerLinkActive="active"
                           routerLink="/products/catalog/{{ card.product.category ? card.product.category : 'unknown' }}">
                            <span>{{ card.product.category ? card.product.category : "unknown" }}</span>
                        </a>
                    </li>
                    <li class="breadcrumbs__item">
                        <a class="breadcrumbs__link" routerLinkActive="active"
                           routerLink="/brands/{{ card.product.seller.username | lowercase }}">
                            <span>{{ card.product.seller.username | titlecase }}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="product-page__to-poned">
            <button [ngClass]="isFavourite? 'active': ''" type="button" (click)="addOrRemoveFavourite()"></button>
        </div>
        <div class="product-page__share">
            <button class="btn-share" data-bs-toggle="modal" data-bs-target="#productShareModal" type="button"></button>
        </div>
        <div class="product-page__complaint-desktop hide-mobile">
            <button class="btn-complaint" data-bs-toggle="modal" data-bs-target="#productReportModal"
                    type="button"></button>
        </div>
    </div>
    <div class="product-page__grid">
        <div class="product-page__header-wrap">
            <div class="product-page__header">
                <a routerLinkActive="active" routerLink="/brands/{{card.product.seller.username | lowercase}}" class="product-page__header-brand">
                    {{card.product.seller.username|titlecase}}
                </a>
                <h1 class="product-page__title">{{card.product.productName | titlecase}}</h1>
            </div>
            <div class="product-page__common-info">
                <a routerLinkActive="active" routerLink="../feedback" class="product-review">
                    <span class="product-review__rating address-rate-mini">
                        {{ratingOverall? ratingOverall : 0}}
                    </span>
                    <span class="product-review__count-review">
                        {{reviews? reviews.length : 0}} ratings
                    </span>
                </a>
            </div>
        </div>
        <div class="product-page__slider-wrap">
            <div class="product-page__sliders">
                <div class="product-page__main-slider">
                    <div class="sw-slider-kt-mix">
                        <button (click)="carousel.translatePosY=carousel.translatePosY+136" [ngClass]="carousel.translatePosY >= 0? 'disabled': ''" class="swiper-button-prev" type="button">Previous slide</button>
                        <div class="sw-slider-kt-mix__wrap">
                            <div class="swiper-container swiper-container-initialized swiper-container-vertical">
                                <ul class="swiper-wrapper" [ngStyle]="{'transform':'translate3d(0px, '+ carousel.translatePosY +'px, 0px)'}" style=" transition-duration: 300ms">
                                    <li *ngFor="let item of carousel.items; let i = index"
                                        class="swiper-slide slide"
                                        [ngClass]="carousel.activeId === i? 'active': ''"
                                        (mouseenter)="carousel.activeId = i; card.file = item"
                                    >
                                        <div class="slide__content img-plug">
                                            <img [src]="item" alt="View 1">
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <button (click)="carousel.translatePosY=carousel.translatePosY-136; test()" [ngClass]="this.carousel.translatePosY <= 700 - 136 * this.carousel.items.length? 'disabled': ''" class="swiper-button-next" type="button">Next slide</button>
                        <p class="swiper-pagination swiper-pagination-fraction">
                            <span class="swiper-pagination-current">1</span>
                            <span class="swiper-pagination-total">4</span>
                        </p>
                    </div>
                </div>
                <div class="product-page__mix-block">
                    <div class="mix-block">
                        <button (click)="carousel.previous()" class="mix-block__slider-btn mix-block__slider-btn--prev" type="button"></button>
                        <div class="mix-block__photo-zoom photo-zoom">
                            <div class="photo-zoom__img-plug img-plug">
                                <div class="zoom-image-container">
                                    <lib-ngx-image-zoom
                                        [thumbImage]="carousel.getActive()"
                                        [fullImage]="carousel.getActive()"
                                        [magnification]="1"
                                        [altText]="'View 1'"
                                    ></lib-ngx-image-zoom>
                                </div>
                            </div>
                        </div>
                        <!--<div class="mix-block__video product-card-video"></div>-->
                        <button (click)="carousel.next()" class="mix-block__slider-btn mix-block__slider-btn--next" type="button"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-page__options">
            <h2 class="section-header hide-desktop">About the product</h2>
            <div class="product-params product-params--mini">
                <table class="product-params__table">
                    <tbody>
                    <tr class="product-params__row">
                        <th class="product-params__cell">
                            <span class="product-params__cell-decor">
                                <span>Article</span>
                            </span>
                        </th>
                        <td class="product-params__cell product-params__cell--copy"
                            (click)="copyToClipboard(card.product.productCode)">
                            <span class="product-params__copy">{{ card.product.productCode }}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <button class="product-page__btn-detail" (click)="shownPopup = true; toggleOverflowBody()" type="button">All
                characteristics and description
            </button>
        </div>
        <div class="product-page__about-goods">
            <div class="product-page__links hide-mobile">
                <a class="product-page__link" routerLinkActive="active"
                   routerLink="/brands">All {{ card.product.seller.username | titlecase }}`s products from category</a>
                <a class="product-page__link" routerLinkActive="active"
                   routerLink="/brands">All {{ card.product.seller.username | titlecase }}`s products from category</a>
            </div>
            <div class="product-page__advantages advantages">
                <ul class="advantages__list">
                    <li class="advantages__item advantages__item--refund">14 days for a refund</li>
                </ul>
            </div>
        </div>
        <div class="product-page__aside">
            <div class="product-page__aside-sticky">
                <div class="product-page__aside-container">
                    <div class="product-page__price-block product-page__price-block--aside">
                        <div class="price-block">
                            <div class="price-block__content">
                                <div class="price-block__price-group">
                                    <p class="price-block__price-wrap">
                                        <span class="price-block__price">
                                            <span class="price-block__wallet-price">
                                                {{ card.product.price|currency }}
                                            </span>
                                        </span>
                                        <del class="price-block__old-price">
                                            <span>$2 500</span>
                                        </del>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-page__order-buttons">
                        <div class="order">
                            <button class="order__btn-buy btn-base">Buy now</button>
                            <button class="btn-main">
                                <span class="hide-mobile">Add to cart</span>
                                <span class="hide-desktop">To cart</span>
                            </button>
                        </div>
                    </div>
                    <div class="product-page__delivery">

                    </div>
                    <div class="product-page__seller-wrap hide-mobile">

                    </div>
                </div>
            </div>


            <!--<div class="card card_with_shadow mt-3" style="height: auto; width: 400px; margin-left: auto; ">
                <div class="card-body row align-items-center">
                    <div class="col">
                        <i class="fa-solid fa-shop fa-2xl"></i>
                    </div>
                    <div class="col-10">
                        <b class="col">{{ card.product.seller.username | titlecase }}
                            <a class="fa-solid fa-circle-info" type="button"
                               [popover]="popoverHtml"
                               placement="bottom" style="color: #6d7583;"></a>
                        </b> <br>
                        4.8<i class="fa-solid fa-star" style="color: #c9cc24;"> &nbsp;</i>
                        <span class="text-secondary rotatable_mark" (mouseover)="isAppearing=true"
                              (mouseout)="isAppearing=false"><span class="ratings">699 ratings</span> &nbsp;<i
                            class="fa-solid fa-chevron-down rotatable"></i>
            </span>
                    </div>
                </div>
            </div>

            <div class="card card_with_shadow display mt-2" [ngClass]="isAppearing? 'display-active': ''"
                 style="height: auto; width: 400px; margin-left: auto; ">
                <div class="card-body" style="padding: 15px 10px 0 15px; height: auto">
                    <span style="font-size: 22px">4.8<i class="fa-solid fa-star"
                                                        style="color: #c9cc24;"> &nbsp;</i></span>
                    <span class="ratings text-secondary">{{ card.product.seller.ratingCount }}
                        product ratings</span>
                    <hr style="margin-top: 8px; margin-bottom: 0">
                    <table class="table table-borderless">
                        <tbody>
                        <tr *ngIf="productDetail">
                            <td class="w-50"><span class="text-secondary">Products sold</span></td>
                            <td style="text-align: right">{{ productDetail.soldCount }}</td>
                        </tr>
                        <tr>
                            <td><span class="text-secondary">On Marta</span></td>
                            <td style="text-align: right">{{ card.product.seller.registeredAt | date: 'dd MMM YYYY, HH:mm' }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>-->
        </div>
    </div>
    <div class="popup popup-product-details" [ngClass]="shownPopup? 'shown': ''">
        <a class="popup__close close" (click)="shownPopup = false; toggleOverflowBody()"></a>
        <div class="popup__content">
            <h2 class="popup__title">Characteristics and description</h2>
            <div class="product-details">
                <div class="product-params">
                    <table class="product-params__table">
                        <caption class="product-params__caption">Additional information</caption>
                        <tbody>
                        <tr class="product_params__row" *ngIf="productDetail">
                            <th class="product-params__cell">
                            <span class="product-params__cell-decor">
                                <span>Country of manufacture</span>
                            </span>
                            </th>
                            <td class="product-params__cell">
                                <span>{{ productDetail.manufacturer | titlecase }}</span>
                            </td>
                        </tr>
                        <tr class="product_params__row" *ngIf="productDetail">
                            <th class="product-params__cell">
                            <span class="product-params__cell-decor">
                                <span>Structure</span>
                            </span>
                            </th>
                            <td class="product-params__cell">
                                <span>{{ productDetail.structure }}</span>
                            </td>
                        </tr>
                        <tr class="product_params__row">
                            <th class="product-params__cell">
                            <span class="product-params__cell-decor">
                                <span>Category</span>
                            </span>
                            </th>
                            <td class="product-params__cell">
                                <span>{{ card.product.category | titlecase }}</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <table *ngIf="productDetail" class="product-params__table">
                        <caption class="product-params__caption">Dimensions</caption>
                        <tbody>
                        <tr class="product_params__row">
                            <th class="product-params__cell">
                            <span class="product-params__cell-decor">
                                <span>Height of the item</span>
                            </span>
                            </th>
                            <td class="product-params__cell">
                                <span>{{ productDetail.dimensions.slice(0, 2) | titlecase }}</span>
                            </td>
                        </tr>
                        <tr class="product_params__row">
                            <th class="product-params__cell">
                            <span class="product-params__cell-decor">
                                <span>Width of the item</span>
                            </span>
                            </th>
                            <td class="product-params__cell">
                                <span>{{ productDetail.dimensions.slice(5, 7) | titlecase }}</span>
                            </td>
                        </tr>
                        <tr class="product_params__row">
                            <th class="product-params__cell">
                            <span class="product-params__cell-decor">
                                <span>Depth of the item</span>
                            </span>
                            </th>
                            <td class="product-params__cell">
                                <span>{{ productDetail.dimensions.slice(10, 12) | titlecase }}</span>
                            </td>
                        </tr>
                        <tr class="product_params__row">
                            <th class="product-params__cell">
                            <span class="product-params__cell-decor">
                                <span>Height of the item</span>
                            </span>
                            </th>
                            <td class="product-params__cell">
                                <span>{{ productDetail.weight }}</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <section *ngIf="productDetail" class="product-details__description option">
                    <h3 class="option__header">Description</h3>
                    <p class="option__text">{{ productDetail.description }}</p>
                </section>
                <div class="description-error">
                    <p class="description-error__text">All information is based on the latest information from the
                        manufacturer </p>
                </div>
            </div>
            <div class="popup__footer mini-product">
                <div class="mini-product__img hide-desktop">
                    <img [src]="'/assets/ruby.png'" alt="product img" width="27" height="36">
                </div>
                <div class="mini-product__group">
                    <p class="mini-product__price wallet-price">{{ card.product.price | currency }}</p>
                    <p class="mini-product__delivery">14 february</p>
                </div>
                <div class="mini-product__buttons">
                    <div class="order">
                        <button class="order__btn-buy btn-base hide-mobile me-1">Buy now</button>
                        <button class="btn-main">
                            <span class="hide-mobile">To cart</span>
                            <span class="hide">Go to cart</span>
                        </button>
                        <a *ngIf="false" routerLink="/profile/cart" routerLinkActive="active" class="btn-base">Go to
                            cart</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="overlay initially-hidden" *ngIf="shownPopup" (click)="shownPopup = false;" style="z-index: 300"></div>
    <div class="product-page__user-activity user-activity">
        <div class="user-activity__tabs">
            <ul class="nav nav-underline">
                <li class="nav-item">
                    <button class="nav-link {{isReviews? 'active' : ''}}" (click)="isReviews=true">Reviews
                        <sup>{{ reviews ? reviews.length : 0 }}</sup>
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link {{isReviews? '' : 'active'}}" (click)="isReviews=false">Questions
                        <sup>{{ questions ? questions.length : 0 }}</sup>
                    </button>
                </li>
                <li class="nav-item ms-auto">
                    <button class="nav-link" data-bs-toggle="modal" data-bs-target="#rulesModal"
                            style="color: rgb(108,117,125) !important;">Publication Rules
                    </button>
                </li>
            </ul>
        </div>
        <div *ngIf="isReviews">
            <div style="position: relative;">
      <span style="font-size: 25px; font-weight: bold" class="ms-3">
        {{ (ratingOverall ? ratingOverall : 0) | number:'1.0-1' }} <i class="fa-solid fa-star"
                                                                      *ngFor="let stars of [].constructor(Math.round(ratingOverall? ratingOverall : 0))"
                                                                      style="color: #c9cc24;"></i>
        <i class="fa-solid fa-star"
           *ngFor="let nostars of [].constructor(Math.round(5-(ratingOverall? ratingOverall : 0)))"
           style="color: #E1E3E6"></i>
      </span>
                <sup class="text-secondary" style="font-size: 15px; font-weight: bold">
                    &nbsp;{{ reviews ? reviews.length : 0 }} ratings</sup>
                <button class="btn btn-outline-dark" style="position: absolute; right: 15px" data-bs-toggle="modal"
                        data-bs-target="#reviewWriteModal">Write a review
                </button>
            </div>
            <div style="position: relative" class="mt-2">
                <a type="button" class="fa-solid fa-circle-arrow-right fa-2xl"
                   [hidden]="!isNeedRightButtonForReviews"
                   (click)="rightScrollForReviews()"
                   style="position: absolute; width: 30px; height: 30px; top: 135px; right: 20px; z-index: 100;"></a>
                <a type="button" class="fa-solid fa-circle-arrow-left fa-2xl" [hidden]="!isNeedLeftButtonForReviews"
                   (click)="leftScrollForReviews()"
                   style="position: absolute; width: 30px; height: 30px; top: 135px; left: 20px; z-index: 100;"></a>
                <div id="scrollReviews"
                     style="width: 100%; white-space: nowrap; display: flex; overflow: hidden; scroll-behavior: smooth">

                    <div class="card card_with_shadow me-4" *ngFor="let review of reviews"
                         style="height: 270px; width: 430px; min-width: 430px">
                        <div class="card-body">
                            <div style="padding-left: 5px;">
            <span style="display: inline-flex"><img class="rounded-4 me-2" alt="image for review"
                                                    style="width: 50px; height: 50px; object-fit: cover;"
                                                    [ngSrc]="'https://eliaslealblog.files.wordpress.com/2014/03/user-200.png'"
                                                    width="1" height="1"
            />
                {{ review.author.username }} <br>
                {{ review.time | date: 'dd MMM YYYY, HH:mm' }}
            </span>
                                <div style="position: absolute; top: 25px; right: 20px">
                                    {{ review.rating }} <i class="fa-solid fa-star"
                                                           *ngFor="let stars of [].constructor(Math.round(review.rating))"
                                                           style="color: #c9cc24;"></i>
                                    <i class="fa-solid fa-star"
                                       *ngFor="let nostars of [].constructor(Math.round(5-review.rating))"
                                       style="color: #E1E3E6;"></i>
                                </div>
                                <div style="white-space: pre-wrap;">
                                    {{ review.message }}
                                </div>
                                <div style="display: flex; ">
                                    <div style="margin-right: 10px" *ngFor="let photo of review.photos">
                                        <img alt="review photo" class="rounded-3"
                                             style="width: 80px; height: 80px; object-fit: cover"
                                             [src]="photo" width="80" height="80">
                                    </div>
                                </div>
                            </div>
                            <a type="button" style="bottom: 25px;right: 20px; position: absolute;"
                               data-bs-toggle="modal"
                               data-bs-target="#reviewReportModal">Report a review</a>
                        </div>
                    </div>
                </div>
            </div>

            <button class="btn btn-lg btn-outline-dark mt-3" routerLink="../feedback" routerLinkActive="active">View
                all
                reviews
            </button>
        </div>

        <div *ngIf="!isReviews">
            <textarea placeholder="Ask a question about product" [(ngModel)]="messageOfQuestion"
                      class="form-control mb-2 down"
                      (click)="isWriteQuestion=true"></textarea>
            <div class="appearing" [ngClass]="isWriteQuestion?'appearing-active':''">
                <button class="btn btn-outline-dark me-2" (click)="saveQuestion()">Ask a question</button>
                <button class="btn btn-outline-danger" (click)="isWriteQuestion=false">Close</button>
            </div>

            <div style="position: relative" class="mt-2">
                <a type="button" class="fa-solid fa-circle-arrow-right fa-2xl"
                   [hidden]="!isNeedRightButtonForQuestions"
                   (click)="rightScrollForQuestions()"
                   style="position: absolute; width: 30px; height: 30px; top: 135px; right: 20px; z-index: 100;"></a>
                <a type="button" class="fa-solid fa-circle-arrow-left fa-2xl"
                   [hidden]="!isNeedLeftButtonForQuestions"
                   (click)="leftScrollForQuestions()"
                   style="position: absolute; width: 30px; height: 30px; top: 135px; left: 20px; z-index: 100;"></a>
                <div id="scrollQuestions"
                     style="width: 100%; white-space: nowrap; display: flex; overflow: hidden; scroll-behavior: smooth">

                    <div class="card card_with_shadow me-3" *ngFor="let question of questions"
                         style="height: 270px; width: 520px; min-width: 430px">
                        <div class="card-body">
                            <div style="padding-left: 12px; padding-top: 12px;">
            <span style="display: inline-flex"><img class="rounded-4 me-2" alt="image for question"
                                                    style="width: 50px; height: 50px; object-fit: cover;"
                                                    src="https://eliaslealblog.files.wordpress.com/2014/03/user-200.png"/>
                {{ question.author.username }} <br>
                {{ question.time | date: 'dd MMM YYYY, HH:mm' }}
            </span>
                                <div class="mt-2" style="white-space: pre-wrap">
                                    {{ question.message }}
                                </div>
                                <div class="mt-2" style="white-space: pre-wrap;">
                                    <b>✓ Brand Representative</b> <br>
                                    {{ question.answer }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-lg btn-outline-dark mt-3" routerLink="../questions" routerLinkActive="active">
                View
                all
                questions
            </button>
        </div>
    </div>
</div>
<!-- For popover -->
<ng-template #popoverHtml>
    <div style="width: 500px; line-height: 2">
        IE Feodocev S. U.<br>
        INN: 583712541296<br>
        OGRNIP: 322583500017524<br>
    </div>
</ng-template>
<!-- For modal with rules -->
<div class="modal fade " id="rulesModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="min-width: 720px">
        <div class="modal-content">
            <div class="modal-header mt-2 mx-3">
                <h1 class="modal-title fs-5"><b>Rules for processing reviews and questions</b></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body mx-4 mb-3" style="font-size: 17px">
                <p class="text-secondary">Reviews and questions should contain information only about the product. </p>
                <p class="text-secondary">Reviews can be left only for the goods ordered and received by the buyer.
                    The buyer can leave no more than one review for one product.
                    You can attach up to 5 photos to the reviews. The product in the photo should be clearly
                    visible. </p>

                <p>The following reviews and questions are not allowed for publication: </p>
                <ul class="dash">
                    <li>Indicating the purchase of this product in other stores</li>
                    <li>Containing any contact information (phone numbers, addresses, email, links to third-party
                        sites)
                    </li>
                    <li>With profanity that offends the dignity of other customers or the store</li>
                    <li>With an abundance of uppercase characters (capital letters)</li>
                </ul>
                Questions are published only after they have been answered.

                We reserve the right to edit or not publish a review and a question that does not comply with the
                established
                rules!
            </div>
        </div>
    </div>
</div>
<!-- For modal with write review -->
<div class="modal fade" id="reviewWriteModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" *ngIf="isReceivedProduct else cantLeaveReview"
         style="min-width: 800px">
        <div class="modal-content">
            <div class="modal-header mt-2 mx-3">
                <h1 class="modal-title fs-5"><b>Product Review «{{ card.product.seller.username | titlecase }}
                    / {{ card.product.productName | titlecase }}»</b></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body mx-4" style="font-size: 17px">
                <p style="margin-bottom: 0">Rate the product</p>
                <span style="font-size: 30px; font-weight: bold">
            <a type="button" (click)="currentRate=currentRate-1" class="fa-solid fa-star"
               *ngFor="let stars of [].constructor(Math.round(currentRate))"
               style="color: #c9cc24;"></a>
            <a type="button" (click)="currentRate=currentRate+1" class="fa-solid fa-star"
               *ngFor="let nostars of [].constructor(Math.round(5-currentRate))"
               style="color: #E1E3E6;"></a>
          </span> <br>
                <label class="mt-3 mb-1" style="font-weight: bold">Tell us about the product</label>
                <textarea [(ngModel)]="messageOfReview" class="form-control w-100" style="height: 300px"
                          type="text"> </textarea>
                <label class="mt-3 mb-1" style="font-weight: bold">Load up to 5 photos</label>
                <input type="file" (change)="onFileAdded($event)" class="form-control">
                <div class="mt-3 justify-content-center" style="display: flex">
                    <button class="btn btn-outline-dark w-75" (click)="saveReview()">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- For modal with report review -->
<div class="modal fade" id="reviewReportModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="min-width: 300px">
        <div class="modal-content">
            <div class="modal-header mt-2 mx-3">
                <h1 class="modal-title fs-5"><b>Why do you want to complain about the review?</b></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body mx-4" style="font-size: 17px">
                <div class="form-check mb-3">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadio1">
                    <label class="form-check-label" for="flexRadio1">
                        The review contains obscene, abusive language
                    </label>
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadio2">
                    <label class="form-check-label" for="flexRadio2">
                        Registered, fictitious
                    </label>
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadio3">
                    <label class="form-check-label" for="flexRadio3">
                        Spam
                    </label>
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadio4">
                    <label class="form-check-label" for="flexRadio4">
                        Incorrect photo, video
                    </label>
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadio5">
                    <label class="form-check-label" for="flexRadio5">
                        The review is not about the product
                    </label>
                </div>
                <div class="mt-3 justify-content-center" style="display: flex">
                    <button class="btn btn-outline-dark w-75" (click)="reportReview()">Report</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- For modal with report product -->
<div class="modal fade" id="productReportModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="min-width: 300px">
        <div class="modal-content">
            <div class="modal-header mt-2 mx-3">
                <h1 class="modal-title fs-5"><b>What's wrong with the product?</b></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body mx-4" style="font-size: 17px">
                <div class="form-check mb-3">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadio1R">
                    <label class="form-check-label" for="flexRadio1R">
                        Incorrect description/photo
                    </label>
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadio2R">
                    <label class="form-check-label" for="flexRadio2R">
                        Counterfeit/forgery
                    </label>
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadio3R">
                    <label class="form-check-label" for="flexRadio3R">
                        Fraud
                    </label>
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadio4R">
                    <label class="form-check-label" for="flexRadio4R">
                        Fake product reviews
                    </label>
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadio5R">
                    <label class="form-check-label" for="flexRadio5R">
                        Prohibited goods: alcohol, tobacco, medicines
                    </label>
                </div>
                <div class="mt-3 justify-content-center" style="display: flex">
                    <button class="btn btn-outline-dark w-75" (click)="reportReview()">Report</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- For modal with share product -->
<div class="modal fade" id="productShareModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="min-width: 300px">
        <div class="modal-content">
            <div class="modal-body ms-4" style="font-size: 17px">
                <div style="display: flex" class="mb-4">
                    <h2><b>Share</b></h2>
                    <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="row-cols-2">
                    <i (click)="goToLink('https://t.me/share/url?url=&text=')"
                       class="col-2 fa-brands fa-telegram fa-2xl increase_size" style="color: #35ACE1"
                       type="button"></i>
                    <i (click)="goToLink('https://vk.com/share.php?url=&comment=')"
                       class="col-2 fa-brands fa-vk fa-2xl increase_size" style="color: #5181B8" type="button"></i>
                    <i (click)="goToLink('https://connect.ok.ru/offer?url=&title=')"
                       class="col-2 fa-brands fa-square-odnoklassniki fa-2xl increase_size" style="color: #EF7D01"
                       type="button"></i>
                    <i (click)="goToLink('https://web.whatsapp.com/send?text=')"
                       class="col-2 fa-brands fa-square-whatsapp fa-2xl increase_size" style="color: #25D366"
                       type="button"></i>
                </div>
                <div class="justify-content-center" style="display: flex; margin-top: 40px">
                    <button class="btn btn-outline-dark w-75" (click)="copyToClipboard(window.location.href)">
                        Copy to clipboard
                        <i class="fa-regular fa-copy fa-lg float-end" style="margin-top: 12px"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #cantLeaveReview>
    <div class="modal-dialog modal-dialog-centered" style="min-width: 500px">
        <div class="modal-content">
            <div class="modal-header mt-2 mx-3 ">
                <h1 class="modal-title fs-5"><b>You can't leave a review</b></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body mx-4 mb-3 text-secondary" style="font-size: 17px">
                You can share your opinion about the product only after receiving it
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-info" data-bs-dismiss="modal">All rights, thanks</button>
            </div>
        </div>
    </div>
</ng-template>
<!-- For modal with buy product now -->
<div class="modal fade" id="buyNowModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="min-width: 300px">
        <div class="modal-content">
            <div class="modal-header mt-2 mx-3">
                <h1 class="modal-title fs-5"><b>Order: {{ card.product.seller.username | titlecase }}
                    / {{ card.product.productName | titlecase }}</b></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body mx-4" style="font-size: 19px">
                <span *ngIf="!isPaid" style="font-size: 12px; position: absolute" class="text-secondary">We will write off the payment upon receipt </span>
                <br>
                <input class="form-check-input" type="checkbox" (change)="isPaid = !isPaid"
                       id="flexCheck">
                <label class="form-check-label" for="flexCheck">
                    &nbsp;Pay now
                </label>
                <div style="font-size: 18px" class="mt-2">
                    <i type="button" (click)="removeNumberOfProduct()"
                       class="fa-solid fa-square-minus fa-xl"></i>
                    {{ countOfProductInOrder }}
                    <i type="button" (click)="addNumberOfProduct()"
                       class="fa-solid fa-square-plus fa-xl"></i>
                </div>
                <div class="name_card_main mt-2">
                    Total: {{ totalPrice| currency }}
                </div>
                <div class="mt-3 justify-content-center" style="display: flex">
                    <button class="btn btn-outline-dark w-75" data-bs-dismiss="modal" (click)="orderNow()">Buy now
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
