.ratings {
    border-bottom: 2px dotted rgb(108, 117, 125);
}

.ratings-router-link {
    color: #6d7583;
}

.rotatable {
    transition: .4s;
}

.rotatable_mark:hover .rotatable {
    transition: .4s;
    rotate: 180deg;

}
.appearing {
    transition: opacity 1s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
}
.appearing-active {
    opacity: 1;
    height: auto;
}

.nav-link {
    color: #212529 !important;
}

ul.dash {
    list-style: none;
}

ul.dash > li:before {
    content: '– ';
}

.down {
    transition: 1s;
    max-height: 40px;
}

.down:focus {
    transition: 1s;
    min-height: 100px;
}

textarea::placeholder {
    color: #868695;
}

span.discount {
    text-decoration: line-through;
    color: #9FA6B2;
}
.vertical_line{
    padding-left: 20px;
    border-left: 2px solid #E1E3E6;
    align-self: stretch;
}
#sticky{
    position: sticky;
    top: 0;
    z-index: 100;
    border: 2px solid #212529;
    border-radius: 5px 5px 5px 5px;
}
.highlight-hover-black{
    color: #868695;
    transition: color 0.2s ease;
}
.highlight-hover-black:hover{
    color: black;
}
.highlight-hover-white{
    color: #868695;
    transition: color 0.2s ease;
}
.highlight-hover-white:hover{
    color: white;

}
.increase_size{
    transition: font-size 0.1s ease-out;
    font-size: 3em;
}
.increase_size:hover{
    font-size: 3.1em;
}
a{
    text-decoration-line: none;
    color: deepskyblue;
}
