<ng-container *ngIf="isLogged; else xd">
    <div class="row mb-4">
        <div class="col mb-2">
            <div class="card">
                <div class="card-body" style="display: block">
                    <span class="name_card">Cart<sup> {{products? products.length: 0}}</sup></span> <br>
                    <div style="display: flex" class="mt-2" *ngFor="let card of products">
                        <img
                            [src]="card.file"
                            width="1" height="1" alt="photo image" class="rounded-2 me-3"
                            style="width: 120px; height: 150px; object-fit: cover; border: solid 1px black; padding: 0"/>
                        <div style="font-size: 17px" class="w-50">
                            {{card.product.productName}}, {{card.product.seller.username | titlecase}}
                        </div>
                        <div style="font-size: 18px" class="ms-3 mt-2">
                            <i type="button" class="fa-solid fa-square-minus fa-2xl"></i>
                            &nbsp;1&nbsp;
                            <i type="button" class="fa-solid fa-square-plus fa-2xl"></i>
                        </div>
                        <div class="ms-auto">
                            <span class="name_card_main">{{(card? card.product.price : 0) | currency}}</span> <br>
                            <span class="discount">$1000</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <div style="display: flex; flex-wrap: wrap;">
                                <div class="w-100 mb-2" style="display: flex">
                                    <span class="name_card_main">Payment method</span>
                                    <i type="button" class="fa-solid fa-pencil fa-lg ms-auto mt-3"></i>
                                </div>
                                <i class="fa-brands fa-cc-visa fa-2xl" style="margin-top: 12px"></i>
                                <span class="ms-3">Visa ⋅⋅ 4315</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <div style="display: flex; flex-wrap: wrap;">
                                <div class="w-100 mb-2" style="display: flex">
                                    <span class="name_card_main">My data</span>
                                    <i type="button" class="fa-solid fa-pencil fa-lg ms-auto mt-3"></i>
                                </div>
                                <img class="rounded-2 me-2" alt="image for review"
                                     style="width: 23px; height: 23px; object-fit: cover;"
                                     [ngSrc]="'https://eliaslealblog.files.wordpress.com/2014/03/user-200.png'"
                                     width="1" height="1"/>
                                <span class="ms-2">Vadim +7 978 800-93-24</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card ms-4" style="position: sticky; top:8px">
                <div class="card-body">
                    <div class="mb-3">
                        <div style="display: flex;">
                            <b>Delivery to the pick-up point</b>
                            <i type="button" class="fa-solid fa-pencil fa-lg ms-auto mt-4"></i>
                        </div>
                        <span class="text-secondary">Simferopol, Zalesskaya Street 81</span> <br>
                        <i class="fa-solid fa-star fa-xs" style="color: #c9cc24;"></i> 4.5
                    </div>
                    <div class="mb-3">
                    <div style="display: flex;">
                        <b>Payment by card</b>
                        <i type="button" class="fa-solid fa-pencil fa-lg ms-auto mt-4"></i>
                    </div>
                        <span class="text-secondary">We will write off the payment upon receipt </span> <br>
                        <input class="form-check-input" type="checkbox"
                               id="flexCheck">
                        <label class="form-check-label" for="flexCheck">
                            &nbsp;Pay now
                        </label>
                    </div>
                    <div style="display: flex; flex-wrap: wrap">
                        <div class="w-100" style="display: flex">
                            <span class="text-secondary">Products, 2 pcs.</span>
                            <span class="text-secondary ms-auto">{{totalPrice| currency}}</span>
                        </div>
                        <span class="name_card_main">Total</span>
                        <span class="name_card_main ms-auto">{{totalPrice| currency}}</span>
                    </div>
                    <div style="display: flex" class="my-2">
                        <div class="btn btn-outline-dark mx-auto w-100 py-2" style="font-size: 20px">Order</div>
                    </div>
                    <div style="display: flex">
                        <input class="form-check-input" type="checkbox"
                               id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            &nbsp;I agree with the terms of use of the trading platform and refund
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>
<ng-template #xd>
    <div class="card card_with_shadow">
        <div class="card-body mx-auto">
            <div class="name_card my-3">The basket is still empty</div>
            <div class="text-secondary my-3">Take a look at the main page to select products <br> or find what you need
                in the search
            </div>
            <a type="button" routerLink="/products" routerLinkActive="active"
               class="btn btn-outline-dark w-75 my-3 ms-4">Go to the main page</a>
        </div>
    </div>
</ng-template>
