<ng-container *ngIf="isLogged; else xd">
    <div class="row mb-4">
        <div class="col mb-2">
            <div class="card">
                <div class="card-body w-100 justify-content-center" style="display: block;">
                    <span class="name_card">Cart<sup> {{productAndQuantity ? productAndQuantity.size : 0}}</sup></span> <br>
                    <div style="display: flex" class="mt-2" *ngFor="let item of productAndQuantity | keyvalue; let i = index">
                        <div class="w-15">
                            <img type="button" routerLinkActive="active"
                                 routerLink="/products/{{item.key.product.id}}/details"
                                 [src]="item.key.file"
                                 width="1" height="1" alt="photo image" class="rounded-2 me-3"
                                 style="width: 120px; height: 150px; object-fit: cover; border: solid 1px black; padding: 0"/>
                        </div>
                        <div class="w-50">
                            <div style="font-size: 17px;" class="w-50">
                            <span type="button" routerLinkActive="active" style="word-break: break-all"
                                  routerLink="/products/{{item.key.product.id}}/details">
                            {{item.key.product.productName | titlecase}}, {{item.key.product.seller.username | titlecase}}
                                </span>
                            </div>
                        </div>
                        <div class="w-15">
                            <div style="font-size: 18px" class="mt-2">
                                <i type="button" (click)="removeNumberOfProduct(item.key)"
                                   class="fa-solid fa-square-minus fa-2xl"></i>
                                &nbsp;{{item.value}}&nbsp;
                                <i type="button" (click)="addNumberOfProduct(item.key)"
                                   class="fa-solid fa-square-plus fa-2xl"></i>
                            </div>
                        </div>
                        <div class="w-15 mx-auto">
                            <div style="display: flex; flex-wrap: wrap">
                                <div class="name_card_main"
                                     style="overflow: hidden">{{(item ? item.key.product.price : 0) | currency}}</div>
                                <span class="discount w-100">$1000</span>
                                <i (click)="deleteProductInCart(item.key, i)" type="button"
                                   class="fa-solid fa-trash fa-lg highlight-hover ms-auto"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <div style="display: flex; flex-wrap: wrap;">
                                <div class="w-100 mb-2" style="display: flex">
                                    <span class="name_card_main">Payment method</span>
                                    <i type="button" routerLinkActive="active" routerLink="/profile/{{user.id}}/details"
                                       class="fa-solid fa-pencil fa-lg ms-auto mt-3"></i>
                                </div>
                                <i class="fa-brands fa-cc-visa fa-2xl" style="margin-top: 12px"></i>
                                <span class="ms-3">Visa ⋅⋅ 4315</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <div style="display: flex; flex-wrap: wrap;">
                                <div class="w-100 mb-2" style="display: flex">
                                    <span class="name_card_main">My data</span>
                                    <i type="button" routerLinkActive="active" routerLink="/profile/{{user.id}}/details"
                                       class="fa-solid fa-pencil fa-lg ms-auto mt-3"></i>
                                </div>
                                <img class="rounded-2 me-2" alt="image for review"
                                     style="width: 23px; height: 23px; object-fit: cover;"
                                     [ngSrc]="'https://eliaslealblog.files.wordpress.com/2014/03/user-200.png'"
                                     width="1" height="1"/>
                                <span class="ms-2">{{user.firstName}}
                                    +{{user.phone | slice:1:2}} {{user.phone | slice:2:5}} {{user.phone | slice:5:8}}-{{
                                    user.phone | slice:8:10}}-{{user.phone | slice:10:12}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card ms-4" style="position: sticky; top:8px">
                <div class="card-body">
                    <div class="mb-3">
                        <div style="display: flex;">
                            <b>Delivery to the pick-up point</b>
                            <i type="button" class="fa-solid fa-pencil fa-lg ms-auto mt-4"></i>
                        </div>
                        <span class="text-secondary">Simferopol, Zalesskaya Street 81</span> <br>
                        <i class="fa-solid fa-star fa-xs" style="color: #c9cc24;"></i> 4.5
                    </div>
                    <div class="mb-3">
                        <div style="display: flex;">
                            <b>Payment by card</b>
                            <i type="button" data-bs-toggle="modal" data-bs-target="#choosePayMethodModal" class="fa-solid fa-pencil fa-lg ms-auto mt-4"></i>
                        </div>
                        <span class="text-secondary">We will write off the payment upon receipt </span> <br>
                        <input class="form-check-input" type="checkbox" (change)="isPayNow = !isPayNow"
                               id="flexCheck">
                        <label class="form-check-label" for="flexCheck">
                            &nbsp;Pay now
                        </label>
                    </div>
                    <div style="display: flex; flex-wrap: wrap">
                        <div class="w-100" style="display: flex">
                            <span class="text-secondary">Products, {{totalCountOfProduct}} pcs.</span>
                            <span class="text-secondary ms-auto">{{totalPrice| currency}}</span>
                        </div>
                        <span class="name_card_main">Total</span>
                        <span class="name_card_main ms-auto">{{totalPrice| currency}}</span>
                    </div>
                    <div style="display: flex" class="my-2">
                        <div class="btn btn-outline-dark mx-auto w-100 py-2" (click)="orderProducts()" style="font-size: 20px">Order</div>
                    </div>
                    <div style="display: flex">
                        <input class="form-check-input" type="checkbox"
                               id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            &nbsp;I agree with the terms of use of the trading platform and refund
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>
<ng-template #xd>
    <div class="card card_with_shadow">
        <div class="card-body mx-auto">
            <div class="name_card my-3">The basket is still empty</div>
            <div class="text-secondary my-3">Take a look at the main page to select products <br> or find what you need
                in the search
            </div>
            <a type="button" routerLink="/products" routerLinkActive="active"
               class="btn btn-outline-dark w-75 my-3 ms-4">Go to the main page</a>
        </div>
    </div>
</ng-template>
<!-- For modal with report product -->
<div class="modal fade" id="choosePayMethodModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="min-width: 300px">
        <div class="modal-content">
            <div class="modal-header mt-2 mx-3">
                <h1 class="modal-title fs-5"><b>Payment method</b></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body mx-4" style="font-size: 17px">
                Balance
                Card 1
                Card 2
                Link new card
                <div class="mt-3 justify-content-center" style="display: flex">
                    <button class="btn btn-outline-dark w-75" >Choose</button>
                </div>
            </div>
        </div>
    </div>
</div>
