.name_card{
    color: black;
    font-size: 25px;
    font-weight: bold;
}
.name_card_main{
    color: black;
    font-size: 25px;
    font-weight: bold;
    display: inline-block;
}
a{
    text-decoration-line: none;
    color: deepskyblue;
}
.card_body_value{
    color: black;
}
.card_with_shadow{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: box-shadow 0.4s ease-in-out;
}
.card_with_shadow:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: box-shadow 0.4s ease-in-out;
}
.uploadable:hover{
    opacity: 0.3;
}
.uploadable{
    opacity: 1;
    transition: .6s ease;
    backface-visibility: hidden;
}
