<div class="mb-3">
  <h3>Admin / Большой игровой коврик для мыши</h3>
  <p>
    4.8<i class="fa-solid fa-star" style="color: #c9cc24;"> &nbsp;</i>
    <span class="text-secondary"><span class="ratings">699 ratings</span> Art: 140873683</span>
  </p>
  <div class="row align-items-start mb-3">
    <img src="https://images.alphacoders.com/131/1316829.png" class="col-1"
         style="width: 400px; height: 500px; object-fit: cover"/>
    <div class="col">
      <table class="table table-borderless">
        <tbody>
        <tr>
          <td class="w-25"><span class="text-secondary">Manufacturer </span></td>
          <td>China</td>
        </tr>
        <tr>
          <td><span class="text-secondary">Category </span></td>
          <td>Tehno</td>
        </tr>
        </tbody>
      </table>
      <a src="#" class="ms-2">All characteristics</a>
    </div>
    <div class="col-auto">
      <div class="card card_with_shadow" style="height: auto; width: 400px; margin-left: auto; ">
        <div class="card-body">
          <h2 class="card-title">400$
            <span style="text-decoration: line-through; font-size: 17px;
                    color: #868695; margin-left: 8px;">700$
          </span>
            <i class="fa-regular fa-heart float-end"></i>
          </h2>
          <button class="btn btn-dark w-100 mb-2" style="justify-content: center;">Add to cart</button>
          <button class="btn btn-outline-dark w-100" style="justify-content: center;">Buy now</button>
        </div>
      </div>

      <div class="card card_with_shadow mt-3" style="height: auto; width: 400px; margin-left: auto; ">
        <div class="card-body row align-items-center">
          <div class="col">
            <i class="fa-solid fa-house fa-2xl"></i>
          </div>
          <div class="col-10">
            <b class="col">Admin <a class="fa-solid fa-circle-info" style="color: #6d7583;"></a></b> <br>
            4.8<i class="fa-solid fa-star" style="color: #c9cc24;"> &nbsp;</i>
            <span class="text-secondary"><span class="ratings text-secondary">699 ratings</span> </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div mb-3>
    <h4>About the product</h4>
    
  </div>
</div>
