span .ratings{
  border-bottom: 2px dotted rgb(108,117,125);
}
.rotatable{
  transition: .4s;
}
.rotatable_mark:hover .rotatable{
  transition: .4s;
  rotate: 180deg;

}
.w-35{
  width: 35% !important;
}
.appearing{
  transition: .8s;
}
