<div style="display: flex; flex-direction: row; justify-content: center">
    <h2>Personal Account</h2>
    <app-logout class="ms-4"></app-logout>
</div>
<div class="main-container">
    <div class="left-block card card_with_shadow">
        <a routerLink="details" routerLinkActive="active">
            <div class="block-body">
                <div>
                    <img [src]="user.avatar"
                         alt="user logo" class="rounded-circle me-2"
                         style="object-fit: cover;width: 110px;">
                    <h2 class="card-title name_card_main">{{ user.firstName }}</h2>
                </div>
                <div>
                    <p class="text-secondary">Phone<span
                        class="card_body_value ms-2">+{{ user.phone | slice:1:2 }} {{ user.phone | slice:2:5 }} {{ user.phone | slice:5:8 }}
                        -{{ user.phone | slice:8:10 }}-{{ user.phone | slice:10:12 }}</span>
                    </p>
                    <p class="text-secondary">Email<span class="card_body_value ms-2">{{ user.email }}</span>
                    </p>
                </div>

            </div>

        </a>
    </div>
    <div class="center-block card card_with_shadow">
        <a routerLink="delivery" routerLinkActive="active">

            <div class="block-body">
                <div>
                    <img
                        src="https://static.vecteezy.com/system/resources/previews/012/665/408/original/delivery-and-courier-motorbike-logo-free-vector.jpg"
                        alt="delivery logo" class="rounded-circle me-2" style="width: 120px;">
                    <h2 class="card-title name_card_main">Delivery</h2>
                </div>
                <p>
                    <span class="text-body-secondary me-2">Upcoming</span>
                    <span class="card_body_value">not expected</span>
                </p>
            </div>

        </a>
    </div>
    <div class="right-block card card_with_shadow">
        <a routerLink="favourites" routerLinkActive="active">

            <div class="block-body">
                <div>
                    <img src="https://t3.ftcdn.net/jpg/03/21/22/56/360_F_321225614_eUlLLhZXqwbjEYVEeSTnf6vV3PYo1DzV.jpg"
                         alt="favourite picture" class="rounded-circle me-2" style="width: 120px;">
                    <h2 class="card-title name_card_main">Favourite</h2>
                </div>
                <p>
                    <span class="text-body-secondary me-2">Availiable</span>
                    <span class="card_body_value">products</span>
                </p>

            </div>
        </a>
    </div>
    <div class="bottom-left card card_with_shadow">
        <a routerLink="payment-methods" routerLinkActive="active" style="width: max-content">

            <div class="block-body">
                <h2 class="card-title name_card">Payment methods</h2>
                <p>
                    <span class="text-body-secondary me-2">Card</span>
                    <span class="card_body_value">****-****-****-4252</span>
                </p>
            </div>

        </a>
    </div>
    <div class="bottom-right card card_with_shadow">
        <a routerLink="balance" routerLinkActive="active">

            <div class="block-body">
                <h2 class="card-title name_card">My Balance</h2>
                <p>
                    <span class="text-body-secondary me-2">Balance</span>
                    <span class="card_body_value">{{ (user.balance != null ? user.balance : 0) | currency }} </span>
                </p>
            </div>

        </a>
    </div>
</div>
