<nav class="navbar navbar-expand-sm bg-dark navbar-dark mb-3">
    <a class="navbar-brand ms-3" routerLink="">Marta</a>
    <ul class="navbar-nav me-auto">
        <li class="nav-item">
            <a routerLink="products" routerLinkActive="active" class="nav-link" style="color: #E1E3E6;">Product List</a>
        </li>
        <li class="nav-item">
            <a routerLink="create-product" routerLinkActive="active" class="nav-link" style="color: #E1E3E6;">Add Product</a>
        </li>
    </ul>
    <ul class="navbar-nav" *ngIf="isLogged && user.roles!.includes('ADMIN')">
        <li class="nav-item">
            <a routerLink="adminPanel" routerLinkActive="active" class="nav-link" style="color: #E1E3E6;">AdminPanel</a>
        </li>
    </ul>
    <ul class="navbar-nav" *ngIf="isLogged">
        <li class="nav-item">
            <a routerLink="profile" routerLinkActive="active" class="nav-link" style="color: #E1E3E6;">Profile</a>
        </li>
    </ul>
    <ul class="navbar-nav" *ngIf="isLogged">
        <li class="nav-item">
            <a routerLink="profile/cart" routerLinkActive="active" class="nav-link" style="color: #E1E3E6;">Cart <i class="fa-solid fa-cart-shopping fa-lg"></i></a>
        </li>
    </ul>
    <button *ngIf="!isLogged" class="btn btn-outline-success me-2" type="submit" routerLink="/login"><i class="fa-solid fa-right-to-bracket"></i> Log In</button>
    <app-logout *ngIf="isLogged"></app-logout>
</nav>
