<nav *ngIf="isLogged" class="navbar navbar-expand-sm bg-dark navbar-dark" style="position: sticky; top: 0px; height: 30px">
    <div class="text-secondary mx-4" style="font-size: 15px;">
        <a type="button" routerLink="create-product" routerLinkActive="active" class="highlight-hover-white no-text-decoration-line">
            <i class="fa-solid fa-location-dot"></i>&nbsp;
            <span>Simferopol, Zalesskaya Street 81</span>
        </a>
        <a type="button" routerLink="create-product" routerLinkActive="active" class="highlight-hover-white no-text-decoration-line ms-4">
            <span>Sell at Marta!</span>
        </a>
    </div>
    <a class="ms-auto text-white me-5" type="button" routerLink="profile" routerLinkActive="active">
        {{(user.balance? user.balance : 0) | currency }} <i class="fa-solid fa-hand-holding-dollar"></i>
    </a>
</nav>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark mb-3" style="height: 90px; position: sticky; top: -5px; z-index: 100">
    <a class="navbar-brand ms-5" routerLink="products" routerLinkActive="active">
        <img src="assets/logo.png" width="165" height="35" alt="logo with 'Marta'">
    </a>
    <app-search>
    </app-search>
    <ul class="navbar-nav ms-auto">
        <li class="nav-item me-3" *ngIf="isLogged && user.roles!.includes('ADMIN')">
            <a routerLink="adminPanel" routerLinkActive="active" class="nav-link"
               style="color: #E1E3E6 !important;">
                <i class="fa-solid fa-lock fa-xl" style="padding: 15px 0 0 10px; display: block;"></i> <br>
                <span class="text-secondary">Panel</span>
            </a>
        </li>
        <li class="nav-item me-3" *ngIf="isLogged">
            <a routerLink="profile/favourites" routerLinkActive="active" class="nav-link"
               style="color: #E1E3E6 !important;;">
                <i class="fa-solid fa-heart fa-xl" style="padding: 15px 0 0 24px; display: block;"></i> <br>
                <span class="text-secondary">Favourites</span>
            </a>
        </li>
        <li class="nav-item me-3" *ngIf="isLogged">
            <a routerLink="profile/delivery" routerLinkActive="active" class="nav-link"
               style="color: #E1E3E6 !important;;">
                <i class="fa-solid fa-box-open fa-xl" style="padding: 15px 0 0 14px; display: block;"></i> <br>
                <span class="text-secondary">Delivery</span>
            </a>
        </li>
        <li class="nav-item me-3" *ngIf="isLogged">
            <a routerLink="profile" routerLinkActive="active" class="nav-link"
               style="color: #E1E3E6 !important;;">
                <i class="fa-solid fa-user fa-xl" style="padding: 15px 0 0 12px; display: block;"></i> <br>
                <span class="text-secondary">Profile</span>
            </a>
        </li>
        <li class="nav-item me-3" *ngIf="isLogged">
            <a routerLink="profile/cart" routerLinkActive="active" class="nav-link"
               style="color: #E1E3E6 !important;;">
                <i class="fa-solid fa-cart-shopping fa-xl" style="padding: 15px 0 0 0; display: block;"></i> <br>
                <span class="text-secondary">Cart</span>
            </a>
        </li>
    </ul>
    <button *ngIf="!isLogged" class="btn btn-outline-success me-2" type="submit" routerLink="/login"><i class="fa-solid fa-right-to-bracket"></i> Log In</button>
    <app-logout *ngIf="isLogged"></app-logout>
</nav>
