<div class="main-page" (click)="closeAllFilters($event)">
    <ng-container *ngIf="pageDataService.searchWord">
        <div class="main-page__searching-results">
            <div class="searching-results__inner">
                <h1 class="searching-results__title">{{ pageDataService.searchWord | titlecase }}</h1>
                <span class="searching-results__count">{{ page.totalElements }} products found</span>
            </div>
        </div>
        <div class="main-page__filters-block">
            <div class="filters-block">
                <div class="filters-block__wrap">
                    <div class="filters-block__desktop hide-mobile">
                        <div class="filters-block__dropdown">
                            <div class="dropdown-filter" [ngClass]="shownCategoryFilterBlock? 'open':''">
                                <button (click)="shownCategoryFilterBlock = !shownCategoryFilterBlock; shownPriceFilterBlock = false; shownSortFilterBlock = false"
                                    class="dropdown-filter__btn dropdown-filter__btn--burger">{{ pageDataService.searchWord }}
                                </button>
                                <div class="dropdown-filter__content dropdown-filter__content--menu">
                                    <div class="filter-category">
                                        <div class="filter-category__block">
                                            <div class="filter-category__content">
                                                <a class="filter-category__title filter-category__title--link">{{ pageDataService.searchWord }}</a>
                                                <ul class="filter-category__list">
                                                    <li class="filter-category__item" *ngFor="let category of categories">
                                                        <a class="filter-category__link filter-category__link--subcategory">{{category | titlecase}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown-filter" [ngClass]="shownSortFilterBlock? 'open':''">
                                <button class="dropdown-filter__btn dropdown-filter__btn--sorter" (click)="shownSortFilterBlock = !shownSortFilterBlock; shownPriceFilterBlock = false; shownCategoryFilterBlock = false">
                                    By popularity
                                </button>
                                <div class="dropdown-filter__content">
                                    <div class="filter">
                                        <ul class="filter__list">
                                            <li class="filter__item">
                                                <div class="radio-with-text selected">
                                                    <span class="radio-with-text__decor"></span>
                                                    <span class="radio-with-text__text">
                                                    By popularity
                                                </span>
                                                </div>
                                            </li>
                                            <li class="filter__item">
                                                <div class="radio-with-text">
                                                    <span class="radio-with-text__decor"></span>
                                                    <span class="radio-with-text__text">
                                                    By date
                                                </span>
                                                </div>
                                            </li>
                                            <li class="filter__item">
                                                <div class="radio-with-text">
                                                    <span class="radio-with-text__decor"></span>
                                                    <span class="radio-with-text__text">
                                                    By price ascending
                                                </span>
                                                </div>
                                            </li>
                                            <li class="filter__item">
                                                <div class="radio-with-text">
                                                    <span class="radio-with-text__decor"></span>
                                                    <span class="radio-with-text__text">
                                                    By price descending
                                                </span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown-filter" [ngClass]="shownPriceFilterBlock? 'open':''">
                                <button class="dropdown-filter__btn" (click)="shownPriceFilterBlock = !shownPriceFilterBlock; shownSortFilterBlock = false; shownCategoryFilterBlock = false"
                                >Price, $</button>
                                <div class="dropdown-filter__content">
                                    <div class="filter">
                                        <div class="filter__price">
                                            <div class="filter__price-item">
                                                <h3 class="filter__price-title">From</h3>
                                                <div class="filter__price-input-search input-search input-search--gray">
                                                    <label>
                                                        <input type="text" autocomplete="off" name="startN">
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="filter__price-item">
                                                <h3 class="filter__price-title">To</h3>
                                                <div class="filter__price-input-search input-search input-search--gray">
                                                    <label>
                                                        <input type="text" autocomplete="off" name="endN">
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="filter-btn">
                                        <button class="filter-btn__minor btn-minor" type="button">Reset</button>
                                        <button class="filter-btn__main btn-main" type="button">Done</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-sizes">
                            <a class="card-sizes__btn card-sizes__btn--big" (click)="isItemsBig = true" [ngClass]="isItemsBig? 'active': ''"></a>
                            <a class="card-sizes__btn card-sizes__btn--small" (click)="isItemsBig = false" [ngClass]="!isItemsBig? 'active': ''"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>

<app-product-list [isItemsBig]="isItemsBig" [card]="products"
                  [isNeedFavourites]="true"></app-product-list>


<ng-container *ngIf="page && page.totalPages > 1">
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item" [ngClass]="page.pageable.pageNumber == 0? 'disabled': ''">
                <span class="page-link" (click)="getProducts(page.pageable.pageNumber  - 1)"
                      type="button">Previous</span>
            </li>
            <ng-container *ngIf="page.totalPages > 2">
                <li class="page-item" [ngClass]="page.pageable.pageNumber  == 0? 'active':''">
                    <a type="button" class="page-link" (click)="getProducts(0)">1</a>
                </li>
                <li class="page-item" [ngClass]="page.pageable.pageNumber  == 1? 'active':''">
                    <a type="button" class="page-link" (click)="getProducts(1)">2</a>
                </li>
                <li class="page-item" [ngClass]="page.pageable.pageNumber  == 2? 'active':''">
                    <a type="button" class="page-link" (click)="getProducts(2)">3</a>
                </li>
            </ng-container>
            <ng-container
                *ngIf="page.pageable.pageNumber > 1 && (page.pageable.pageNumber - 1 < page.totalPages - 1)">
                <li class="page-item disabled" *ngIf="page.pageable.pageNumber > 5">
                    <a class="page-link">...</a>
                </li>
                <li class="page-item"
                    *ngIf="page.pageable.pageNumber - 4 > 0 && page.totalPages - 1 > page.pageable.pageNumber">
                    <a type="button" class="page-link"
                       (click)="getProducts(page.pageable.pageNumber-2)">{{ page.pageable.pageNumber - 1 }}</a>
                </li>
                <li class="page-item"
                    *ngIf="page.pageable.pageNumber - 3 > 0 && page.totalPages - 2 > page.pageable.pageNumber">
                    <a type="button" class="page-link"
                       (click)="getProducts(page.pageable.pageNumber-1)">{{ page.pageable.pageNumber }}</a>
                </li>
                <li class="page-item active"
                    *ngIf="page.pageable.pageNumber - 2 > 0 && page.totalPages - 3 > page.pageable.pageNumber">
                    <a type="button" class="page-link"
                       (click)="getProducts(page.pageable.pageNumber)">{{ page.pageable.pageNumber + 1 }}</a>
                </li>
                <li class="page-item" *ngIf="page.totalPages - 4 > page.pageable.pageNumber">
                    <a type="button" class="page-link"
                       (click)="getProducts(page.pageable.pageNumber+1)">{{ page.pageable.pageNumber + 2 }}</a>
                </li>
                <li class="page-item" *ngIf="page.totalPages - 5 > page.pageable.pageNumber">
                    <a type="button" class="page-link"
                       (click)="getProducts(page.pageable.pageNumber+2)">{{ page.pageable.pageNumber + 3 }}</a>
                </li>
            </ng-container>
            <ng-container>
                <li class="page-item disabled" *ngIf="page.totalPages - 6 > page.pageable.pageNumber">
                    <a class="page-link">...</a>
                </li>
                <li class="page-item" *ngIf="page.totalPages > 5"
                    [ngClass]="page.pageable.pageNumber + 1 == page.totalPages - 2? 'active':''">
                    <a type="button" class="page-link"
                       (click)="getProducts(page.totalPages - 3)">{{ page.totalPages - 2 }}</a>
                </li>
                <li class="page-item" *ngIf="page.totalPages > 1"
                    [ngClass]="page.pageable.pageNumber + 1 == page.totalPages - 1? 'active':''">
                    <a type="button" class="page-link"
                       (click)="getProducts(page.totalPages - 2)">{{ page.totalPages - 1 }}</a>
                </li>
                <li class="page-item" [ngClass]="page.pageable.pageNumber + 1 == page.totalPages? 'active':''">
                    <a type="button" class="page-link"
                       (click)="getProducts(page.totalPages - 1)">{{ page.totalPages }}</a>
                </li>
            </ng-container>
            <li class="page-item">
                <a class="page-link" [ngClass]="page.pageable.pageNumber + 1 == page.totalPages? 'disabled': ''"
                   (click)="getProducts(page.pageable.pageNumber  + 1);" type="button">Next</a>
            </li>
        </ul>
    </nav>
</ng-container>
