<h4 style="font-weight: bold" *ngIf="pageDataService.searchWord != null">{{ pageDataService.searchWord + " " }}
    Found: {{ page ? page.totalElements : 0 }}</h4>
<div class="main-container">
    <aside class="filter-panel card_with_shadow card">
        <label class="filter-block p-3 highlight-hover">
            <input class="form-check-input " type="checkbox"
                   [(ngModel)]="pageDataService.isFilteredByWithPhoto">
            <span class="form-check-label ps-2">
                With a photo
            </span>
        </label>
        <label class="filter-block p-3 highlight-hover">
            <input class="form-check-input" type="checkbox"
                   [(ngModel)]="pageDataService.isFilteredByVerified">
            <span class="form-check-label ps-2">
                Verified
            </span>
        </label>
        <label class="filter-block highlight-hover p-3">
            <input class="form-check-input" type="checkbox">
            <span class="form-check-label ps-2">
                Top ratings
            </span>
        </label>
        <div class="filter-block">
            <a class="ui-link w-100 highlight-hover p-3" [ngClass]="isPriceCollapsed? '' : 'ui-collapse_link__in'"
               (click)="isPriceCollapsed = !isPriceCollapsed">
                <i class="fa-solid filter-block__icon highlight-hover-blue"
                   [ngClass]="isPriceCollapsed? 'fa-chevron-down' : 'fa-chevron-up'"></i>
                <span class="form-check-label ps-2 highlight-hover-blue">
                    Price
                </span>
            </a>
            <div class="collapse__content" [ngClass]="isPriceCollapsed? '' : 'collapse__content_in'">
                <div>
                    <div class="input-small">
                        <input class="form-control input-small__input" type="number" min="10" max="1000"
                               placeholder="from 10">
                    </div>
                    <div class="input-small">
                        <input class="form-control input-small__input" type="number" min="10" max="1000"
                               placeholder="to 1000">
                    </div>
                    <div class="checkbox-group">
                        <label class="checkbox-group__item highlight-hover p-2">
                            <input class="form-check-input" type="checkbox">
                            <span class="ms-1">
                            Less than 100$
                        </span>
                        </label>
                        <label class="checkbox-group__item highlight-hover p-2">
                            <input class="form-check-input" type="checkbox">
                            <span class="ms-1">
                            101 - 200$
                        </span>
                        </label>
                        <label class="checkbox-group__item highlight-hover p-2">
                            <input class="form-check-input" type="checkbox">
                            <span class="ms-1">
                            201 - 300$
                        </span>
                        </label>
                        <label class="checkbox-group__item highlight-hover p-2">
                            <input class="form-check-input" type="checkbox">
                            <span class="ms-1">
                            301 - 400$
                        </span>
                        </label>
                        <label class="checkbox-group__item highlight-hover p-2">
                            <input class="form-check-input" type="checkbox">
                            <span class="ms-1">
                            401 - 500$
                        </span>
                        </label>
                        <label class="checkbox-group__item highlight-hover p-2">
                            <input class="form-check-input" type="checkbox">
                            <span class="ms-1">
                            More than 500$
                        </span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-block">
            <button class="btn btn-info btn-block__btn-bold" (click)="this.getProducts(0)">Apply</button>
            <button class="btn btn-light btn-block__btn" (click)="resetPageData()">Reset</button>
        </div>
    </aside>
    <div class="catalog-container">
        <div class="sort-panel-wrap card card_with_shadow">
            <div class="sort-panel popover-wrap">
                <span class="sort-panel_label">Sorting:</span>
                <a type="button" class="ui-link"> <!-- (click)="sortByDate()" -->
                    <span class="sort-panel__selected">Popular first</span>
                    <i class="sort-panel__icon fa-solid fa-chevron-down fa-sm"></i>
                </a>
            </div>
            <div class="sort-panel_view-mode">
                <input type="radio" id="mode-tile" [checked]="isItemsByGrid" name="view-mode"
                       class="sort-panel_view-mode-input" value="tile">
                <i for="mode-tile" (click)="isItemsByGrid = true"
                   class="fa-solid fa-grip-vertical fa-xl sort-panel_view-mode-label sort-panel_view-mode-label_tile"></i>
                <input type="radio" id="mode-simple" [checked]="!isItemsByGrid" name="view-mode"
                       class="sort-panel_view-mode-input" value="simple">
                <i for="mode-simple" (click)="isItemsByGrid = false"
                   class="fa-solid fa-list-ul fa-xl sort-panel_view-mode-label sort-panel_view-mode-label_simple"></i>
            </div>
        </div>

        <app-product-list [isItemsByGrid]="isItemsByGrid" [card]="products"
                          [isNeedFavourites]="true"></app-product-list>

    </div>

</div>


<ng-container *ngIf="page && page.totalPages > 1">
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item" [ngClass]="page.pageable.pageNumber == 0? 'disabled': ''">
                <span class="page-link" (click)="getProducts(page.pageable.pageNumber  - 1)"
                      type="button">Previous</span>
            </li>
            <ng-container *ngIf="page.totalPages > 2">
                <li class="page-item" [ngClass]="page.pageable.pageNumber  == 0? 'active':''">
                    <a type="button" class="page-link" (click)="getProducts(0)">1</a>
                </li>
                <li class="page-item" [ngClass]="page.pageable.pageNumber  == 1? 'active':''">
                    <a type="button" class="page-link" (click)="getProducts(1)">2</a>
                </li>
                <li class="page-item" [ngClass]="page.pageable.pageNumber  == 2? 'active':''">
                    <a type="button" class="page-link" (click)="getProducts(2)">3</a>
                </li>
            </ng-container>
            <ng-container
                *ngIf="page.pageable.pageNumber > 1 && (page.pageable.pageNumber - 1 < page.totalPages - 1)">
                <li class="page-item disabled" *ngIf="page.pageable.pageNumber > 5">
                    <a class="page-link">...</a>
                </li>
                <li class="page-item"
                    *ngIf="page.pageable.pageNumber - 4 > 0 && page.totalPages - 1 > page.pageable.pageNumber">
                    <a type="button" class="page-link"
                       (click)="getProducts(page.pageable.pageNumber-2)">{{ page.pageable.pageNumber - 1 }}</a>
                </li>
                <li class="page-item"
                    *ngIf="page.pageable.pageNumber - 3 > 0 && page.totalPages - 2 > page.pageable.pageNumber">
                    <a type="button" class="page-link"
                       (click)="getProducts(page.pageable.pageNumber-1)">{{ page.pageable.pageNumber }}</a>
                </li>
                <li class="page-item active"
                    *ngIf="page.pageable.pageNumber - 2 > 0 && page.totalPages - 3 > page.pageable.pageNumber">
                    <a type="button" class="page-link"
                       (click)="getProducts(page.pageable.pageNumber)">{{ page.pageable.pageNumber + 1 }}</a>
                </li>
                <li class="page-item" *ngIf="page.totalPages - 4 > page.pageable.pageNumber">
                    <a type="button" class="page-link"
                       (click)="getProducts(page.pageable.pageNumber+1)">{{ page.pageable.pageNumber + 2 }}</a>
                </li>
                <li class="page-item" *ngIf="page.totalPages - 5 > page.pageable.pageNumber">
                    <a type="button" class="page-link"
                       (click)="getProducts(page.pageable.pageNumber+2)">{{ page.pageable.pageNumber + 3 }}</a>
                </li>
            </ng-container>
            <ng-container>
                <li class="page-item disabled" *ngIf="page.totalPages - 6 > page.pageable.pageNumber">
                    <a class="page-link">...</a>
                </li>
                <li class="page-item" *ngIf="page.totalPages > 5"
                    [ngClass]="page.pageable.pageNumber + 1 == page.totalPages - 2? 'active':''">
                    <a type="button" class="page-link"
                       (click)="getProducts(page.totalPages - 3)">{{ page.totalPages - 2 }}</a>
                </li>
                <li class="page-item" *ngIf="page.totalPages > 1"
                    [ngClass]="page.pageable.pageNumber + 1 == page.totalPages - 1? 'active':''">
                    <a type="button" class="page-link"
                       (click)="getProducts(page.totalPages - 2)">{{ page.totalPages - 1 }}</a>
                </li>
                <li class="page-item" [ngClass]="page.pageable.pageNumber + 1 == page.totalPages? 'active':''">
                    <a type="button" class="page-link"
                       (click)="getProducts(page.totalPages - 1)">{{ page.totalPages }}</a>
                </li>
            </ng-container>
            <li class="page-item">
                <a class="page-link" [ngClass]="page.pageable.pageNumber + 1 == page.totalPages? 'disabled': ''"
                   (click)="getProducts(page.pageable.pageNumber  + 1);" type="button">Next</a>
            </li>
        </ul>
    </nav>
</ng-container>
