<div class="container w-50 justify-content-center mb-3">
    <div class="card">
        <div class="card-body">
            <div style="display: flex; justify-content: center; margin-bottom: 10px">
                <form (ngSubmit)="saveProduct()" #f="ngForm" [formGroup]="productForm">
                    <h2 style="display: flex; justify-content: center; font-weight: bold">Create Product</h2>
                    <div class="input-group my-3">
                        <label class="input-group-text" for="product_name">Name</label>
                        <input type="text" class="form-control" id="product_name" name="product_name" placeholder="Name"
                               formControlName="productName">

                    </div>
                    <div class="alert alert-danger" *ngIf="(productForm.get('productName').
                    hasError('required') || productForm.get('productName').hasError('nullValidator')) && f.submitted">
                        Name is required.
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="price">Price</label>
                        <input type="number" class="form-control" id="price" name="price" placeholder="Price"
                               formControlName="price">
                    </div>
                    <div class="alert alert-danger" *ngIf="(productForm.get('price').
                    hasError('required') || productForm.get('price').hasError('min')) && f.submitted">
                        The price should not be less than 1.
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="count">Count</label>
                        <input type="number" class="form-control" id="count" name="product_name" placeholder="Count"
                               formControlName="count">
                    </div>
                    <div class="alert alert-danger" *ngIf="(productForm.get('count').
                    hasError('required') || productForm.get('count').hasError('min')) && f.submitted">
                        There must be at least 3 items in your warehouse!
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="description">Description</label>
                        <input type="text" class="form-control" id="description" name="description" placeholder="Description"
                               formControlName="description">
                    </div>
                    <div class="alert alert-danger" *ngIf="(productForm.get('description').
                    hasError('required') || productForm.get('description').hasError('nullValidator')) && f.submitted">
                        Add a small description to your product!
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="structure">Structure</label>
                        <input type="text" class="form-control" id="structure" name="structure" placeholder="Structure"
                               formControlName="structure">
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="manufacturer">Manufacturer</label>
                        <input type="text" class="form-control" id="manufacturer" name="manufacturer" placeholder="Manufacturer"
                               formControlName="manufacturer">
                    </div>
                    <div class="alert alert-danger" *ngIf="(productForm.get('manufacturer').
                    hasError('required') || productForm.get('manufacturer').hasError('nullValidator')) && f.submitted">
                        Write the country of the manufacturer!
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="category">Category</label>
                        <select id="category" class="form-select" name="category" formControlName="category">
                            <option selected disabled>Choose...</option>
                            <option *ngFor="let category of categories">{{category}}</option>
                        </select>
                    </div>
                    <div class="alert alert-danger" *ngIf="(productForm.get('category').
                    hasError('required') || productForm.get('category').hasError('nullValidator')) && f.submitted">
                        Select a category!
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="image">Preview Image</label>
                        <input type="file" class="form-control" (change)="onFileSelected($event)" name="image" id="image">
                    </div>
                    <div style="display: flex; justify-content: center">
                        <button type="submit" class="btn btn-outline-success btn-lg" [disabled]="f.invalid && f.submitted">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
