<h2 >Product list</h2>
<table class="table table-striped" style="margin-bottom: 70px;">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Count</th>
            <th>Description</th>
            <th>Manufacturer</th>
            <th>Structure</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let product of products">
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.count}}</td>
            <td>{{product.description}}</td>
            <td>{{product.manufacturer}}</td>
            <td>{{product.structure}}</td>
            <td style="min-width: 200px;">
                <button (click)="updateProduct(product.id)" class="btn btn-outline-info">Update</button>
                <button (click)="deleteProduct(product.id)" class="btn btn-outline-danger" style="margin-left: 10px;">Delete</button>
            </td>
        </tr>
    </tbody>
</table>