<h2>Product list</h2>
<div class="card-group">
    <div *ngFor = "let product of products">
    <a routerLink="{{product.id}}/details"  routerLinkActive="active">
        <div class="card me-4 mb-4" style="width: 18rem; height: 31rem;">
            <img src="https://basket-09.wb.ru/vol1302/part130277/130277706/images/c516x688/1.webp" class="card-img-top"
                alt="...">
            <div class="card-body">
                <h5 class="card-title">{{product.price}} 
                    <span style="text-decoration: line-through; font-size: 15px; 
                    color: #868695; margin-left: 8px;">700$</span>
                </h5>
                <div style="-webkit-line-clamp: 2; display: -webkit-box; -webkit-box-orient: vertical; overflow: hidden;">
                <div class="card-text">{{product.seller.username}} / {{product.product_name}}
                </div>
            </div>
            </div>
        </div>
    </a>
</div>
</div>