
<h2>Product list</h2>
<div class="card-group">
    <div *ngFor = "let product of products" class="me-4 mb-4">
    <a routerLink="{{product.id}}/details" routerLinkActive="active">
        <div class="card" style="width: 18rem; height: 31rem;">
            <img src="https://www.webstoresl.com/sellercenter/assets/images/no-product-image.png" style="object-fit: cover;" height="381.86" width="286.4" class="card-img-top"
                alt="product image">
            <div class="card-body">
                <h5 class="card-title">{{product.price}} 
                    <span style="text-decoration: line-through; font-size: 15px; 
                    color: #868695; margin-left: 8px;">700$</span>
                </h5>
                <div style="-webkit-line-clamp: 2; display: -webkit-box; -webkit-box-orient: vertical; overflow: hidden;">
                <div class="card-text">{{product.seller.username}} / {{product.product_name}}
                </div>
            </div>
            </div>
        </div>
    </a>
</div>
</div>